@use "../mixins/active-border" as ab;

.bookshelf-card {
	@include ab.active-border;

	--count-offset: 1rem;

	display: grid;
	grid: "icon name count buttons" auto
		  "icon description count buttons" auto
		  / auto 1fr auto auto;
	gap: .25rem 1rem;
	color: var(--foreground);

	.ico {
		grid-area: icon;
		background-color: var(--shelf-color);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 1rem;

		.icon, &::part(icon) {
			background-color: var(--background);
			outline: .5rem solid var(--background);
			outline-offset: -1px;
			border-radius: 999px;
		}
	}

	.name {
		grid-area: name;
		font-weight: bold;
		font-size: 1.1rem;
		padding-top: .25rem;
	}

	.desc {
		grid-area: description;
		padding-bottom: .25rem;
	}

	.count {
		grid-area: count;
		margin-right: var(--count-offset);
		font-size: 2.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: .5rem;
	}

	.buttons {
		grid-area: buttons;
		display: flex;
	}

	&:hover {
		border-color: var(--shelf-color);
		color: var(--foreground);

		&:not(.calm) {
			border-right-width: var(--count-offset);

			.count {
				margin-right: 1px;
			}
		}
	}
}