@use "../mixins/active-border" as ab;
@use "../mixins/focus" as f;

.btn {
	cursor: pointer;
	background-color: transparent;
	color: var(--accent);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;

	@include ab.active-border;
	@include f.focus;

	&.red {
		background-color: var(--red-10);
		color: var(--foreground);

		&:hover {
			background-color: var(--red-25);
		}

		&-hl {
			&:hover {
				background-color: var(--red-25);
			}
		}
	}

	&.green {
		background-color: var(--green-10);
		color: var(--foreground);

		&:hover {
			background-color: var(--green-25);
		}

		&-hl {
			&:hover {
				background-color: var(--green-25);
			}
		}
	}

	&.loading {
		background-image: linear-gradient(to right, transparent 0%, var(--accent-25) 50%, transparent 100%);
		background-repeat: repeat;
		background-size: 800px 1px;
		animation: shimmer 5s infinite linear;
		color: var(--foreground-75);
	}

	@keyframes shimmer {
		from { background-position: -800px 0; }
		to { background-position: 800px 0; }
	}

}

.btn-primary {
	color: var(--background);
	background-color: var(--accent-75);
	border-color: var(--accent);

	&.register {
		margin-top: -40px;
		min-height: 40px;
		background-color: color-mix(in oklab, var(--accent), var(--background) 25%);
		outline: .25rem solid var(--background);

		&:hover {
			background-color: color-mix(in oklab, var(--accent), var(--background) 75%);
		}
	}

	&:hover {
		color: var(--foreground);
		background-color: var(--accent-25);
		border-color: var(--accent-75);
	}
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

.button-group {
	display: flex;
}
