@use "../mixins/focus" as f;

.club-wc-button {
	background-color: transparent;
	border: none;
	color: var(--foreground-75);

	&:hover {
		color: var(--foreground);
	}
}

.club-folder-selector {

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: bold;
		margin-bottom: .5rem;

		img {
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}
	}

	.msg {
		&.success {
			color: var(--green-75);
		}

		&.error {
			color: var(--red-75);
		}
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: stretch;
		width: 100%;
		margin-top: .5rem;
		@include f.focus;

		> button {
			background: transparent;
			color: var(--foreground);
			height: 40px;
		}

		> .add {
			flex: 2;
			margin-right: .5rem;
			background-color: var(--green-10);

			&:hover {
				background-color: var(--green-50);
			}
		}

		> .cancel {
			flex: 1;
			background-color: var(--red-10);

			&:hover {
				background-color: var(--red-50);
			}
		}
	}

	.clubs {
		display: flex;
		flex-direction: column;
		gap: .1rem;

		.club {
			border: none;
			background-color: transparent;
			display: flex;
			flex-direction: row;
			align-items: center;
			min-height: 48px;
			cursor: pointer;
			color: var(--foreground);
			@include f.focus;

			&:hover {
				background-color: var(--accent-10);
			}

			> img {
				margin-right: .5rem;
				height: 100%;
				aspect-ratio: 1 / 1;
				object-fit: cover;
			}

			.folder, .overflow {
				color: var(--foreground-75);
				font-size: .8rem;
				margin-left: .5rem;
				border: 1px solid var(--foreground-50);
				border-radius: 9999px;
				padding: .1rem .25rem;
			}
		}
	}

	.folders {
		display: flex;
		flex-direction: column;

		.folder {
			border: none;
			border-left: .5rem solid transparent;
			border-right: .5rem solid transparent;

			background-color: transparent;
			min-height: 48px;
			color: var(--foreground);
			cursor: pointer;
			text-align: start;
			padding: 0 .5rem;

			&:hover {
				background-color: var(--accent-5);
			}

			&.locked {
				color: var(--foreground-25);
				pointer-events: none;
			}

			&.active {
				border-left-color: var(--accent);
				background-color: var(--accent-10);

				&:hover {
					background-color: var(--accent-25);
				}
			}
		}
	}
}