@use '../mixins/active-border' as ab;
@use "../vars" as v;

$btn-height: 2.5rem;

.comments-container {
	margin: 2rem auto auto;
	width: 70%;
	opacity: 0;
	@media screen and (max-width: v.$mq-mobile) {
		width: 100%;
	}

	&.ready {
		opacity: 1;
		transition: opacity 300ms ease-in-out;
	}

	> .info {
		@include ab.active-border;
		margin-bottom: .5rem;
		padding: 1rem;

		//box-shadow: inset 0 0 0 2px var(--red-10);
		background-color: var(--ele-1);
	}

	> form {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		> .comment-box {
			padding: .5rem;
			min-height: 5rem;
			background-color: var(--background);
			color: var(--foreground);
		}

		> .counter {
			font-size: .8rem;
		}

		> .buttons {
			margin-top: .1rem;
			display: flex;
		}

		& .comment-btn {
			flex: 1;
			height: $btn-height;
			background-color: var(--background);
			color: var(--foreground);
			margin: 1px 1px 0 0;

			> i.material-icons-outlined {
				font-size: inherit !important;
				vertical-align: middle;
			}
		}

		& .help-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 $btn-height;
			margin: 1px 0 0;
			height: $btn-height;
			color: var(--foreground);
		}
	}

	> .buttons {
		display: flex;

		> button {
			padding: .25rem .5rem;

			o-icon {
				display: flex;
			}

			&.active {
				o-icon::part(icon) {
					color: var(--accent);
				}
			}
		}
	}

	> .comments {
		padding-top: .5rem;

		.snip {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin: .5rem 0;
			color: var(--foreground-50);

			&:hover {
				color: var(--foreground);
			}

			&::before, &::after {
				content: "";
				flex: 1 1;
				border-bottom: 2px solid var(--foreground-50);
				margin: auto;
			}

			&::before {
				margin-right: .5rem;
			}

			&::after {
				margin-left: .5rem;
			}
		}

		.no-comments {
			@include ab.active-border;
			padding: .25rem .5rem;
			width: 100%;
			display: block;
			text-align: center;
		}
	}
}