@use "../mixins/active-border.scss" as ab;


.active-border {
	@include ab.active-border;
}

.mt-3 {
	margin-top: 1rem;
}

.border-top {
	border-top: 1px solid var(--foreground-75);
}

.border-bottom {
	border-bottom: 1px solid var(--foreground-75);
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgb(0 0 0 / 5%);
}

[v-cloak] {
	display: none !important;
}

[x-cloak] {
	display: none !important;
}
