@use '../mixins/focus' as f;
@use '../mixins/active-border' as ab;
@use "../vars" as v;

form.form {
	display: flex;
	flex-direction: column;
	overflow-anchor: auto;

	.form-row {
		display: flex;
		flex-direction: row;
		padding: .5rem 0;
		align-items: flex-end;

		.o-form-group {
			flex: 1;
			padding: 0 .5rem;
			margin: 0;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&.keep-size {
				flex: 0;
			}
		}
	}

	.input-group {
		display: grid;

		> * {
			grid-column: 1;
			grid-row: 1;
		}

		.input-group-append {
			place-self: center end;
			padding: .5rem;
		}

		&.push {
			display: flex;
			gap: 2px;

			.o-form-control {
				flex: 1;
			}

			.input-group-append {
				display: flex;
				padding: 0;
				align-self: stretch;
			}
		}
	}

	.o-form-group {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 1rem;

		input,
		textarea {
			padding: .5rem;
			background-color: var(--ele-1);
			color: var(--foreground);

			&[disabled] {
				color: var(--foreground-50);
			}
		}

		textarea {
			min-height: 3rem;
			resize: vertical;
		}

		input[type="color"] {
			cursor: pointer;
			padding: .25rem;
			min-height: 48px;
			min-width: 48px;
			@include ab.active-border;
		}

		label {
			font-weight: 600;
			font-size: .95rem;
			margin: 0;
			white-space: nowrap;
		}

		.ratings {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: .5rem;
			margin-top: .5rem;

			@media only screen and (max-width: v.$mq-mobile) {
				display: flex;
				flex-direction: column;

				> .rating {
					margin-bottom: .5rem;
				}
			}

			.rating {
				position: relative;

				.radio {
					opacity: 0;
					position: absolute;

					&:checked + .radio-label {
						background: var(--accent-25);
						border-color: var(--accent);
					}

					&:focus + .radio-label {
						border-color: var(--accent);
						box-shadow: 0 0 0 3px var(--accent-25);
					}
				}

				.radio-label {
					display: flex;
					cursor: pointer;

					> img {
						flex-basis: 3rem;
						height: 100%;
					}

					> .main {
						display: block;
						margin-left: .5rem;

						> * {
							display: block;
						}

						> strong {
							font-weight: 600;
						}

						> span {
							font-weight: 500;
						}
					}
				}
			}
		}

		.field-validation-error {
			color: var(--red);
			background-color: var(--red-10);
			padding: .25rem;
			font-size: .9rem;
		}

		aside.info {
			position: absolute;
			left: calc(100% + 1rem);
			top: 1.5rem;
			min-width: 15rem;
			background-color: var(--ele-1);
			border: 1px solid var(--foreground-25);
			padding: .5rem;
			pointer-events: none;
			opacity: 0;
			transition: opacity 200ms ease-in-out;

			&.visible {
				opacity: 1;
			}

			> * {
				margin: 0;
			}

			@media screen and (max-width: v.$mq-mobile) {
				left: 0;
				top: 100%;
				z-index: 999;
			}
		}
	}

	.o-form-control {
		@include f.focus;

		&.changed {
			background-color: var(--red-25);
		}
	}

	.select-group {
		display: flex;
		flex-direction: row;
		background-color: var(--background);

		label {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			padding: .25rem;
			margin: 0;
			flex: 1;
			@include ab.active-border;

			&:hover {
				background-color: var(--accent-5);
			}
		}

		input[type="checkbox"],
		input[type="radio"] {
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
			clip: rect(1px 1px 1px 1px);

			&:checked {
				& + label {
					background-color: var(--accent-25);
				}
			}

			&:focus {
				& + label {
					border-color: var(--accent);
					box-shadow: 0 0 0 3px var(--accent-25);
				}
			}
		}
	}
}