@use '../mixins/active-border' as ab;
@use "../mixins/focus" as f;
@use "../vars" as v;
@use "sass:math";

$avatar-size: 8.5rem;
$margin: .5rem;

.info-bar {
	display: grid;
	grid-template-columns: $avatar-size 1fr auto;
	grid-template-rows: auto auto 1fr;
	gap: .25rem;

	padding: 0 15px;

	min-height: $avatar-size + $margin;
	margin-bottom: $margin;
	border-bottom: 1px solid var(--foreground-25);
	@media only screen and (max-width: v.$mq-mobile) {
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto 1fr;
		height: auto;
		padding: 0;
	}

	> .nav {
		grid-row: 3;
		grid-column: 3;
		align-self: end;

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		@media only screen and (max-width: v.$mq-mobile) {
			grid-row: 4;
			grid-column: 1 / 4;
		}

		& .nav-item {
			color: var(--foreground-75);
			text-decoration: none;
			padding: $margin;
			border: 1px solid var(--foreground-25);
			border-right: none;
			border-bottom: none;
			text-align: center;
			background-color: var(--background-75);

			&:hover,
			&:focus {
				color: var(--foreground);
				background: var(--accent-10);
			}

			&:first-child {
				border-top-left-radius: .25rem;
			}

			&:last-child {
				border-right: 1px solid var(--foreground-25);
				border-top-right-radius: .25rem;
			}

			@media only screen and (max-width: v.$mq-mobile) {
				flex: 1;
			}

			&.active {
				border-top: .25rem solid var(--accent);
				border-top-right-radius: .25rem;
				border-top-left-radius: .25rem;
			}
		}
	}

	> .img {
		grid-row: 1 / 4;
		grid-column: 1;
		object-fit: contain;
		align-self: baseline;
		height: $avatar-size;
	}

	> .name {
		grid-row: 1;
		grid-column: 2;
		font-size: 2rem;
		margin-bottom: math.div($margin, 2);
		font-weight: 300;
		color: var(--foreground);
	}

	> .date {
		grid-row: 2;
		grid-column: 2 / 3;
		font-size: 1.1rem;
		font-weight: 100;
	}

	> .info {
		grid-row: 3;
		grid-column: 2 / 3;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-grow: 1;
		font-size: .9rem;
		margin-bottom: $margin;
	}

	> .buttons {
		grid-row: 1;
		grid-column: 3;
		display: flex;
		justify-content: flex-end;

		> * {
			height: 100%;
		}

		> a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: .5rem;
			color: var(--foreground-75);
			text-decoration: none;
		}

		.button {
			background-color: var(--accent-10);
			margin-left: .25rem;
			padding: 0 .5rem;
			height: 100%;
			@include ab.active-border;
			@include f.focus;

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				background-color: var(--accent-25);
			}

			&.max {
				flex: 1;
			}

			&.join {
				color: var(--foreground);
				background-color: var(--green-25);

				&:hover {
					background-color: var(--green-50);
				}
			}

			&.leave {
				color: var(--foreground);
				background-color: var(--red-25);

				&:hover {
					background-color: var(--red-50);
				}
			}
		}
	}
}