
.minimal {
	display: flex;
	flex-direction: column;
	padding: .5rem;
	color: var(--foreground);

	&:hover {
		--deco: underline;
		--bc: var(--foreground-50);

		color: var(--foreground-75);
	}

	.title {
		font-weight: 500;
		font-size: 1.1rem;
		text-decoration: var(--deco, none);

		&.not-published {
			color: var(--red-75);
		}

		.icon {
			font-size: 1rem;
		}
	}

	.info {
		display: flex;
		align-items: center;

		i.dot {
			margin: .5rem;
			width: .25rem;
			height: .25rem;
			border-radius: 50%;
			background-color: var(--bc, var(--foreground-75));
		}
	}
}