
.nav-pills {
	.nav-link {
		display: block;
		border-radius: .25rem;
		padding: .5rem 1rem;

		.icon {
			vertical-align: center;
			height: 1rem;
			width: 1rem;
		}
	}

	.nav-link.active,
	.show > .nav-link {
		color: var(--background) !important;
		background-color: var(--accent-75) !important;
		border-color: var(--accent) !important;

	}
}

