
.notifications-btn {
	position: relative;

	span {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: var(--red);
		padding: .2rem;
		height: 1rem;
		min-width: 1rem;
		line-height: .4rem;
		color: var(--foreground);
		font-size: .8rem;
		text-align: center;
		border-radius: 9999999px;

		$stroke: 3px var(--background);
		@supports(--webkit-text-stroke: $stroke) {
			-webkit-text-stroke: $stroke;
			-webkit-text-fill-color: var(--foreground);
			paint-order: stroke fill;
		}
	}
}