// Reset code based on:
// - https://github.com/necolas/normalize.css

// Box sizing rules.
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Remove default padding.
ul[class],
ol[class],
*::before,
*::after {
	padding: 0;
}

// Remove default margin.
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
*::before,
*::after {
	margin: 0;
}

html {
	line-height: 1.15; // Correct the line height in all browsers.
	text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
}

// Set core body defaults.
body {
	min-height: 100vh;
	text-rendering: optimizelegibility;
	line-height: 1.5;

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

// Add the correct box sizing in Firefox.
hr {
	height: 0;
}

// Remove list styles on ul, ol elements with a class attribute.
ul[class],
ol[class] {
	list-style: none;
}

a {
	background-color: transparent; // Remove gray background on active links in IE 10.
}

// <a> elements that don't have a class get default styles...
a:not([class]) {
	color: var(--accent);

	&:hover {
		text-decoration: underline;
	}
}

// ...and ones that do have a class, don't get decorations
a[class] {
	text-decoration: none;
}

// 1. Remove the bottom border in Chrome 57-
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
abbr[title] {
	border-bottom: none; // 1
	text-decoration: underline dotted; // 2
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
	font-weight: bolder;
}

// Add the correct font size in all browsers.
small {
	font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

// Make images easier to work with.
img {
	max-width: 100%;
	display: block;
	border-style: none; // Remove border on images inside links in IE 10.
}

// Natural flow and rhythm in articles by default.
article > * + * {
	margin-top: 1em;
}

// Buttons and summaries get pointers
summary,
button {
	cursor: pointer;
}

// Add correct display in Edge, IE 10+, and Firefox.
details {
	display: block;
}

// Add the correct display in all browsers.
summary {
	display: list-item;
}

// Inherit fonts for inputs and buttons.
input,
button,
textarea,
optgroup,
select {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0; // Remove margins in Firefox and Safari.
}

// Remove vertical scrollbar in IE 10+.
textarea {
	overflow: auto;
}

// Show the overflow on IE and Edge
input,
button {
	overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
button,
select {
	text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
	// noinspection Stylelint
	appearance: auto;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
	*, *::before, *::after {
		animation-duration: 0ms !important;
		transition-duration: 0ms !important;
		scroll-behavior: auto !important;
	}
}
