form.social-login {
	--icon-size: 20px;

	display: flex;
	flex-direction: column;
	gap: .25rem;

	.btn {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: max(.25rem, calc(var(--icon-size) / 2));
		min-width: 20ch;
		min-height: 48px;
		color: var(--foreground);
		border-color: var(--foreground-25);

		.icon {
			height: var(--icon-size);
			aspect-ratio: 1/1;
			transition: height .1s ease-in-out;
		}

		&:hover {
			border-color: var(--foreground-75);

			.icon {
				height: calc(var(--icon-size) + 4px);
			}
		}

		&.passkey {
			background-color: var(--accent-10);

			.icon {
				color: var(--foreground);
			}
		}

		&.patreon {
			background-color: var(--patreon-bg);

			.icon {
				color: #FC674D;
			}
		}

		&.discord {
			background-color: var(--discord-bg);

			.icon {
				color: #5865f2;
			}
		}

		&.tumblr {
			background-color: var(--tumblr-bg);

			.icon {
				color: var(--tumblr-fg);
			}
		}

		&.google {
			color: var(--google-fg);
			background-color: var(--google-bg);
		}
	}
}