form.social-login {
	display: flex;
	flex-direction: column;
	gap: .25rem;

	button {
		display: flex;
		align-items: center;
		gap: .5rem;
		min-width: 20ch;
		min-height: 48px;

		&:hover {
			img {
				filter: invert(1);
			}
		}
	}
}