@use "../mixins/focus" as f;

.status-select {
	.selector {
		display: flex;
		width: 100%;
		min-height: 48px;

		flex-wrap: wrap;

		label {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			padding: .5rem;
			@include f.focus;
		}

		input[type="radio"] {
			display: none;

			&:checked + label {
				background-color: var(--accent-25);
			}

			&:hover + label {
				background-color: var(--accent-50);
			}
		}
	}
}