.story-status {
	display: flex;
	place-items: center;
	gap: .1rem;

	line-height: .9;
	font-size: .9rem;
	cursor: default;

	width: max-content;
	padding: 4px;
	margin: 4px;

	border: 1px solid var(--foreground-75);
	color: var(--foreground);

	&:hover {
		opacity: 0.9;
	}

	&.inprogress {
		background-color: oklch(59% 0.225 258deg / 50%);
	}

	&.completed {
		background-color: oklch(83% 0.282 142deg / 50%);
	}

	&.onhiatus {
		background-color: oklch(59% 0 89deg / 50%);
	}

	&.cancelled {
		background-color: oklch(62% 0.258 29deg / 50%);
	}

	> .icon {
		height: 1rem;
	}

	> .name {
		display: block;
	}
}

