.story-status {
	gap: .2rem;
	cursor: default;

	&.inprogress {
		background-color: oklch(59% 0.225 258deg / 50%);
	}

	&.completed {
		background-color: oklch(83% 0.282 142deg / 50%);
	}

	&.onhiatus {
		background-color: oklch(59% 0 89deg / 50%);
	}

	&.cancelled {
		background-color: oklch(62% 0.258 29deg / 50%);
	}

	> .icon {
		height: 16px;
		width: 16px;
	}

	> .name {
		display: block;
	}
}

