@use "../mixins/active-border" as ab;
@use "../vars" as v;

$title-height: 1.8rem;

.story-card {
	contain: content;
	width: 100%;

	display: grid;
	grid: " img  title " auto
		  " img  hook " 1fr
		  " img  tags " auto
		  " info info " auto / 10rem 1fr auto;
	gap: .25rem .5rem;
	grid-column-gap: .25rem;

	margin: .75rem 0 0;
	padding: .25rem .25rem 0;
	background-color: var(--ele-1);
	overflow-anchor: auto;
	@include ab.active-border;

	@media only screen and (max-width: v.$mq-mobile) {
		grid: " title  title " auto
			  " img    hook  " 1fr
			  " tags   tags  " auto
			  " info   info  " auto / 6rem 1fr;
	}

	&:first-of-type {
		margin: 0;
	}

	&:hover {
		--bc: var(--foreground-50);
	}

	> .image {
		object-fit: contain;
		grid-area: img;
		align-self: baseline;
		height: auto;
	}

	> .title {
		grid-area: title;

		display: inline;

		margin: 0 4px;
		overflow: hidden;
		text-overflow: ellipsis;

		h3 {
			font-size: $title-height;
			line-height: $title-height;
			display: inline;
			white-space: nowrap;
			padding: 0 .25rem;


			& > a {
				color: var(--foreground);
				text-decoration: none;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;

				&:hover {
					color: var(--foreground-75);
					text-decoration: underline;
					text-decoration-skip-ink: auto;
				}
			}

			& > .rating {
				display: inline;
				vertical-align: middle;
				height: $title-height * 0.7;
				width: $title-height * 0.7;
			}
		}

		& > .author {
			color: var(--foreground-75);
			font-size: 90%;

			&:hover {
				color: var(--foreground);
			}
		}
	}

	.hook {
		grid-area: hook;
		margin: 2px 4px;
		flex: 1;
	}

	.tags {
		grid-area: tags;
		display: flex;
		flex-flow: row wrap;
	}

	.info {
		grid-area: info;
		padding: .25rem;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid var(--bc, var(--foreground-25));

		> * {
			padding: 0 .25rem;
			color: var(--foreground-75);
			cursor: default;

			&:hover {
				color: var(--foreground);
			}
		}

		& > a {
			cursor: pointer;
		}

		.icon {
			font-size: 1rem;
		}

		.not-published {
			color: var(--red-75);
			margin-left: auto;
		}
	}
}