
.tags {
	display: flex;
}

.tag {
	display: grid;
	grid-template-areas: "main";
	line-height: .9;
	border: 1px solid var(--foreground-75);
	color: var(--foreground);
	margin: 4px;
	cursor: pointer;

	&.locked {
		padding: 0 .2rem;
		background: var(--background-25);

		.icon {
			width: 18px;
			aspect-ratio: 1;
		}
	}

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		opacity: 0.9;
		color: var(--foreground);
	}

	> .bg {
		grid-area: main;
		opacity: .5;
	}

	> .name {
		grid-area: main;

		place-self: center center;
		line-height: .9;
		font-size: .9rem;
		margin: .1rem .2rem;
		z-index: 1;
	}

	//.material-icons-outlined {
	//	font-size: inherit;
	//	cursor: pointer;
	//
	//	&:hover {
	//		background-color: var(--background-25);
	//	}
	//}
}
