
.tags {
	display: flex;
	padding: 4px;
	gap: 2px;
}

.tag {
	display: flex;
	place-items: center;
	line-height: .9;
	border: 1px solid var(--foreground-75);
	color: var(--foreground);
	background-color: oklch(from var(--tag-bg, transparent) l c h / 50%);

	margin: 4px 0;
	padding: 0 .2rem;
	cursor: pointer;

	&.locked {
		padding: 0 .2rem;
		background: var(--background-25);

		.icon {
			width: 18px;
			aspect-ratio: 1;
		}
	}

	&:hover {
		opacity: 0.9;
		color: var(--foreground);
	}

	> .name {
		line-height: .9;
		font-size: .9rem;
		margin: .1rem .2rem;
	}
}
