.tags {
	display: flex;
	padding: 4px;
	gap: 2px;
}

.tag {
	display: flex;
	place-items: center;

	line-height: .9;
	font-size: .9rem;

	border: 1px solid var(--foreground-75);
	color: var(--foreground);
	background-color: oklch(from var(--tag-bg, transparent) l c h / 50%);

	width: max-content;
	padding: 4px;
	margin: 4px 0;
	cursor: pointer;

	&.locked {
		padding: 0 .2rem;
		background: var(--background-25);
		position: relative;
		overflow: hidden;
		cursor: default;

		.icon {
			width: 18px;
			aspect-ratio: 1;
		}

		&::after {
			content: '';
			position: absolute;
			inset: -50%;
			background: linear-gradient(to bottom, rgb(229 172 142 / 0%), rgb(255 255 255 / 50%) 50%, rgb(229 172 142 / 0%));
			transform: rotateZ(60deg) translate(0, 4em);
			animation: sheen 2s forwards infinite;
		}

		@keyframes sheen {
			100% {
				transform: rotateZ(60deg) translate(0, -4em);
			}
		}
	}

	&:hover {
		opacity: 0.9;
		color: var(--foreground);
	}

	> .name {
		line-height: .9;
		font-size: .9rem;
		margin: .1rem .2rem;
	}
}
