
.validation-summary {
	&-valid {
		display: none;
	}

	&-errors {
		margin-top: 1rem;
		border: 1px solid var(--red-50);
		padding: .5rem;
		background-color: var(--red-10);

		&:hover {
			border-color: var(--red-75);
		}
	}
}
