
.validation-summary {
	&-valid {
		display: none;
	}

	&-errors {
		margin-top: 1rem;
		border: 1px solid var(--red-50);
		padding: 0;
		background-color: var(--red-10);

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			&>li {
				padding: .25rem .5rem;

				&:not(:last-child) {
					border-bottom: 1px solid var(--red-50);
				}
			}
		}

		&:hover {
			border-color: var(--red-75);

			ul > li {
				border-bottom-color: var(--red-75);
			}
		}
	}
}
