
.votes {
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;

	&:focus {
		border: 1px solid var(--accent-50);
	}

	&:hover {
		background-color: var(--accent-10);
	}

	&.active {
		::part(icon) {
			color: var(--gold);

			animation: spin .2s ease-in-out;

		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
