@page
@model Ogma3.Pages.Blog.CreateModel

@{
    ViewData["Title"] = "Create Blogpost";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="blogpost" method="post">
    
    <div asp-validation-summary="ModelOnly" class="text-warning"></div>

    <div class="o-form-group">
        <label asp-for="Blogpost.Title"></label>
        <input asp-for="Blogpost.Title" class="o-form-control" v-model="title.current"/>
        <span class="counter">{{titleCount}}</span>
        <span asp-validation-for="Blogpost.Title" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Blogpost.Body"></label>
        <textarea rows="20" asp-for="Blogpost.Body" class="o-form-control" v-model="body.current"></textarea>
        <span class="counter">{{bodyCount}}</span>
        <span asp-validation-for="Blogpost.Body" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
    
</form>



@section Scripts { 
    <partial name="_ValidationScriptsPartial" />       
    <script src="/js/dist/new-blogpost.min.js" asp-append-version="true"></script>
}


