@page "{id:int}"
@model Ogma3.Pages.Blog.EditModel

@{
    ViewData["Title"] = "Edit Blogpost";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="blogpost" method="post">
    
    <div asp-validation-summary="ModelOnly" class="text-warning"></div>

    <div class="o-form-group">
        <label asp-for="Input.Title"></label>
        <input asp-for="Input.Title" class="o-form-control active-border" v-model="title.current"/>
        <span class="counter">{{titleCount}}</span>
        <span asp-validation-for="Input.Title" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Body"></label>
        <textarea rows="20" asp-for="Input.Body" class="o-form-control active-border" v-model="body.current"></textarea>
        <span class="counter">{{bodyCount}}</span>
        <span asp-validation-for="Input.Body" class="text-warning"></span>
    </div>
    
    <div class="o-form-group">
        <input type="submit" value="Update" class="btn btn-primary"/>
    </div>
    
    <div id="v-title" style="background:indianred;padding:5rem" data-title="@Model.Input.Title" v-if="!title.current"></div>
    <div id="v-body"  style="background:indianred;padding:5rem" data-body ="@Model.Input.Body"  v-if="!body.current"></div>
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />       
    <script src="/js/edit-blogpost.min.js" asp-append-version="true"></script>
}

