table {
    outline: 1px solid var(--foreground-50);
    border-collapse: collapse;
}

tr:hover {
    background-color: var(--accent-10);
}

td, th {
    border: 1px solid var(--foreground-10);
    padding: .2rem .5rem;
    white-space: nowrap;
}

td:hover {
    outline: 1px inset var(--accent-10);
}