@page
@model Ogma3.Areas.Admin.Pages.Documents.IndexModel

@{
	ViewData["Title"] = "Documents";
	ViewData["ActivePage"] = NavPages.Documents;
}

<a class="btn btn-block btn-outline-primary" asp-page="./Create">
	<icon icon="lucide:plus" svg="true"></icon>
	Create New
</a>

@if (Model.Docs.Count > 0)
{
	<ul class="items-list">
		@foreach (var doc in Model.Docs)
		{
			<li>
				<div class="main">
					<a asp-area="" asp-page="/Docs" asp-route-slug="@doc.Slug" target="_blank">
						<h3 class="name">
							@doc.Title <span class="monospace">@($"v{doc.Version}")</span>
						</h3>
					</a>
				</div>
				<div class="actions">
					@* TODO: Implement document deletion *@
					<a class="action">
						<icon icon="lucide:trash-2" svg="true"></icon>
					</a>
					<a asp-page="./Edit" asp-route-slug="@doc.Slug" class="action">
						<icon icon="lucide:pencil" svg="true"></icon>
					</a>
				</div>
			</li>
		}
	</ul>
}
else
{
	<h1>No documents found</h1>
}