@use '../vars' as v
@use '../mixins/active-border' as ab

.action-btn
  display: flex
  align-items: center
  justify-content: center
  padding: 0 .5rem
  margin-right: .1rem
  background-color: transparent
  color: v.$foreground-75
  +ab.active-border
  
  &.small
    font-size: 1.2rem
  
  &>.icon
    font-size: inherit
    & + *
      margin-left: .5rem
      
  &>.name
    @media screen and (max-width: v.$mq-mobile)
      display: none
  
  &:hover
    color: v.$foreground
    text-decoration: none
    background-color: v.$accent-10