@use '../vars' as v

.blogpost-card
  display: flex
  flex: 1
  flex-direction: column
  border: 1px solid v.$foreground-25
  margin: .75rem 0 0
  &:first-of-type
    margin: 0
  &:hover
    border-color: v.$foreground-50
    & .info
      border-color: v.$foreground-50
    & .tags
      border-color: v.$foreground-50

  &>.title
    display: flex
    align-items: flex-end
    justify-content: space-between
    text-decoration: none 
    color: v.$foreground
    padding: .25rem
    &:hover
      color: v.$foreground-75
      text-decoration: underline
      text-decoration-skip-ink: auto
        
  & .excerpt
    overflow: hidden
    padding: .25rem
    
  & .info
    border-top: 1px solid v.$foreground-25
    display: flex

    &>*
      padding: 0 .25rem
      color: v.$foreground-75
      &:hover
        color: v.$foreground
        
    .icon
      font-size: 1rem
        
    .not-published
      color: v.$red
      margin-left: auto
        
  & .tags
    display: flex
    flex-wrap: wrap
    border-top: 1px solid v.$foreground-25

    &>.tag
      border: none
      padding: 0 .25rem
      margin: 4px
      cursor: default
      white-space: nowrap
      &:hover
        color: v.$foreground
    