@use '../vars'

.blogpost-details
  display: flex
  flex: 1
  flex-direction: column
  margin: 4px 0 0
  padding: 4px
  
  & .title
    text-align: center
    margin: .5rem
    
  & time.date
    text-align: center
    margin: 0
    
  & .body
    text-align: justify
    margin-top: 1em