@use '../vars' as v

$notes-padding-x: .5rem
$notes-padding-y: .25rem

.chapter-container
  display: flex
  flex-direction: column
  align-items: center

.chapter-details
  display: flex
  flex-direction: column
  align-content: center
  
  &>a.story
    margin: auto
    position: relative
    text-align: center
    font-style: italic
    color: v.$foreground-75
    text-decoration: underline
    &:hover:before
      content: ''
      display: block
      position: absolute
      width: .5rem
      height: .5rem
      transform: rotate(135deg)
      border: solid black
      border-width: 0 1px 1px 0
      bottom: .4rem
      left: -.5rem
  
  &>h1.title
    text-align: center
    margin: .5rem
    
  &>time.date
    text-align: center
    margin: 0

  & .actions
    display: flex
    justify-content: center
    
  &>.body-container
    
    &>.notes
      text-align: justify
      font-style: italic
      padding: $notes-padding-y $notes-padding-x
      margin: .5rem 0
      color: v.$foreground-75
      border: 1px solid v.$foreground-25
    
      //&.start
      
      //&.end

      &>.an
        font-weight: lighter
      
    &>.body
      text-align: justify