.active-border
  border: 1px solid $foreground-25
  
  &:hover,
  &:hover~.counter
    border-color: $foreground-50
    
  &:focus,
  &:focus~.counter
    border-color: $accent 
    
  &~.counter
    border: 1px solid $foreground-25
    border-top: none