@use '../vars' as v;

.active-border {
	border: 1px solid v.$foreground-25;

	&:hover,
	&:hover ~ .counter {
		border-color: v.$foreground-50;
	}

	&:focus,
	&:focus ~ .counter {
		border-color: v.$accent;
	}

	& ~ .counter {
		border: 1px solid v.$foreground-25;
		border-top: none;
	}
}

.mt-3 {
	margin-top: 1rem;
}

.border-top {
	border-top: 1px solid v.$foreground-75;
}

.border-bottom {
	border-bottom: 1px solid v.$foreground-75;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

[v-cloak] {
	display: none !important;
	min-height: 20px;
	width: 100%;
	background: red;
}

[x-cloak] {
	display: none !important;
}
