@use '../vars' as v
@use '../mixins/active-border' as ab

.comments-container
  margin-top: 2rem
  width: 70%
  @media screen and (max-width: v.$mq-mobile)
    width: 100%
  
  &>form
    display: flex
    flex-direction: column
    
    &>.comment-box
      padding: .5rem
      min-height: 5rem
      background-color: v.$background
      color: v.$foreground
      
    &>.buttons
      display: flex
      
    & .comment-btn
      flex: 1
      background-color: v.$background
      margin: 1px 1px 0 0
      
      &>i.material-icons-outlined
        font-size: inherit !important
        vertical-align: middle
        
    & .help-btn
      flex: 0 0 2rem
      margin: 1px 0 0 0
      text-align: center
      color: v.$foreground

      &>i.material-icons-outlined
        vertical-align: middle
    
  &>.comments
    padding-top: .5rem
    
    &>.comment
      display: flex
      flex-direction: row
      align-items: baseline
      padding: .5rem 0

      &:hover .author, &:hover .main
        border-color: v.$foreground-75
        
      &.marked
        background: transparent linear-gradient(90deg, transparent 0%, v.$accent-25 40%, v.$accent-25 60%, transparent 100%)
        transition: background-color 100ms ease-in-out
        &:hover
          background: v.$accent-10 linear-gradient(90deg, transparent 0%, v.$accent-25 40%, v.$accent-25 60%, transparent 100%)

      &>.author
        display: flex
        flex-direction: column
        flex: 0 0 6rem
        border: 1px solid v.$foreground-50
        margin-right: .5rem
        min-height: 100px
        background-color: v.$background
        @media screen and (max-width: v.$mq-mobile)
          flex: 0 0 4rem
          min-height: 75px
        
        &>.name
          overflow: hidden
          text-overflow: ellipsis
          font-weight: 600
          padding: 0 .2rem
          color: v.$foreground

        &>.avatar
          border-top: 1px solid v.$foreground-50
          
        &>.role-tag
          margin: 0
          border: none
          border-top: 1px solid v.$foreground-50
  
      &>.main
        flex: 1
        border: 1px solid v.$foreground-50
        background-color: v.$background
        
        &>.header
          display: flex
          align-items: center
          padding: 0 .5rem
          color: v.$foreground-50
          &>*:hover
            color: v.$foreground-75
            
          &>.link
            color: v.$foreground-50
                                              
        &>.body
          white-space: pre-line
          margin: .5rem