@use '../vars' as v;
@use '../mixins/active-border' as ab;

$btn-height: 2.5rem;

.comments-container {
	margin: 2rem auto auto;
	width: 70%;
	opacity: 0;
	@media screen and (max-width: v.$mq-mobile) {
		width: 100%;
	}

	&.ready {
		opacity: 1;
		transition: opacity 300ms ease-in-out;
	}

	> .info {
		@include ab.active-border;
		margin-bottom: .5rem;
		padding: 1rem;
		//box-shadow: inset 0 0 0 2px v.$red-10;
		background-color: v.$ele-1;
	}

	> form {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		> .comment-box {
			padding: .5rem;
			min-height: 5rem;
			background-color: v.$background;
			color: v.$foreground;
		}

		> .counter {
			font-size: .8rem;
		}

		> .buttons {
			margin-top: .1rem;
			display: flex;
		}

		& .comment-btn {
			flex: 1;
			height: $btn-height;
			background-color: v.$background;
			color: v.$foreground;
			margin: 1px 1px 0 0;

			> i.material-icons-outlined {
				font-size: inherit !important;
				vertical-align: middle;
			}
		}

		& .help-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 $btn-height;
			margin: 1px 0 0 0;
			height: $btn-height;
			color: v.$foreground;
		}
	}

	> .buttons {
		display: flex;

		> button {
			margin-bottom: .1rem;

			&.active {
				> .material-icons-outlined {
					color: v.$accent;
				}
			}
		}
	}

	> .comments {
		padding-top: .5rem;

		.snip {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin: .5rem 0;
			color: v.$foreground-50;

			&:hover {
				color: v.$foreground;
			}

			&:before, &:after {
				content: "";
				flex: 1 1;
				border-bottom: 2px solid v.$foreground-50;
				margin: auto;
			}

			&:before {
				margin-right: .5rem;
			}

			&:after {
				margin-left: .5rem;
			}
		}
	}
}