@use '../vars' as v;

.comment {
	contain: content;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: .5rem 0;
	overflow-anchor: auto;

	&:hover .author, &:hover .main {
		border-color: v.$foreground-75;
	}

	&.marked {
		background: transparent linear-gradient(90deg, transparent 0%, v.$accent-25 40%, v.$accent-25 60%, transparent 100%);
		transition: background-color 100ms ease-in-out;

		&:hover {
			background: v.$accent-10 linear-gradient(90deg, transparent 0%, v.$accent-25 40%, v.$accent-25 60%, transparent 100%);
		}
	}

	> .author {
		display: flex;
		flex-direction: column;
		flex: 0 0 6rem;
		border: 1px solid v.$foreground-50;
		margin-right: .5rem;
		min-height: 100px;
		background-color: v.$ele-1;
		@media screen and (max-width: v.$mq-mobile) {
			flex: 0 0 4rem;
			min-height: 75px;
		}

		> .name {
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 600;
			padding: 0 .2rem;
			color: v.$foreground;
		}

		> .avatar {
			border-top: 1px solid v.$foreground-50;
		}

		> .role-tag {
			margin: 0;
			border: none;
			border-top: 1px solid v.$foreground-50;
		}
	}

	> .main {
		flex: 1;
		border: 1px solid v.$foreground-50;
		background-color: v.$ele-1;
		display: flex;
		flex-direction: column;

		&.blocked {
			border-color: v.$red-75;
		}

		> .header {
			display: flex;
			align-items: center;
			padding-left: .5rem;
			color: v.$foreground-50;

			> *:hover {
				color: v.$foreground-75;
			}

			> .link {
				color: v.$foreground-50;
			}

			> .actions {
				display: flex;
				flex-direction: row;
				margin-left: auto;
				padding: .1rem;
				opacity: .5;

				&:hover {
					opacity: 1;
				}
			}
		}

		> .body {
			white-space: pre-line;
			margin: .5rem;
			overflow-wrap: break-word;
			word-wrap: break-word;
			word-break: break-word;
			hyphens: auto;
		}

		> .form {
			width: 100%;

			.comment-box {
				background-color: v.$background;
				color: v.$foreground;
				margin: calc(.1rem + 2px);
				padding: .25rem;
				border: 1px solid v.$foreground-25;

				&:focus {
					box-shadow: 0 0 0 2px v.$accent-50;
				}
			}

			.buttons {
				padding: 0 calc(.1rem + 2px) calc(.1rem + 2px);
				width: 100%;
				display: flex;
				flex-direction: row;

				button {
					display: flex;
					align-content: center;
					justify-items: center;
					color: v.$foreground;

					&.confirm {
						background-color: v.$green-50;
						padding: 0 2rem;

						&:hover {
							background-color: v.$green-75;
						}
					}

					&.cancel {
						background-color: v.$red-50;
						margin-left: auto;

						&:hover {
							background-color: v.$red-75;
						}
					}

					i {
						margin-right: .5rem;
					}
				}
			}
		}

		.edit-data {
			font-size: .75rem;
			margin: .5rem;
			cursor: pointer;
			color: v.$accent-50;
			align-self: end;
			background: transparent;
			border: none;

			&:hover {
				color: v.$accent-75;
				text-decoration: underline;
			}
		}

		> .history {
			padding: .5rem;

			li {
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid v.$foreground-50;
				margin-bottom: .25rem;
				padding-bottom: .25rem;

				&:last-child {
					border-bottom: none;
					margin-bottom: 0;
				}

				time {
					font-size: .75rem;
					color: v.$foreground-50;
				}

				.body {
					overflow-wrap: break-word;
					word-wrap: break-word;
					word-break: break-word;
					hyphens: auto;
				}
			}
		}
	}
}