@use '../vars' as v
@use '../mixins/active-border' as ab

.comments-container
  margin-top: 2rem
  width: 70%
  @media screen and (max-width: v.$mq-mobile)
    width: 100%
  
  &>form
    display: flex
    flex-direction: column
    
    &>.comment-box
      padding: .5rem
      min-height: 5rem
      background-color: v.$background
      color: v.$foreground
      
    &>.buttons
      display: flex
      
    & .comment-btn
      flex: 1
      background-color: v.$background
      color: v.$foreground
      margin: 1px 1px 0 0
      
      &>i.material-icons-outlined
        font-size: inherit !important
        vertical-align: middle
        
    & .help-btn
      flex: 0 0 2rem
      margin: 1px 0 0 0
      text-align: center
      color: v.$foreground

      &>i.material-icons-outlined
        vertical-align: middle
    
  &>.comments
    padding-top: .5rem
