form.form
  display: flex
  flex-direction: column
    
  & .o-form-group
    display: flex
    flex-direction: column 
    margin-top: 1rem
    
    & input, 
    & textarea
      padding: .5rem
      
    & textarea
      min-height: 3rem
      
    & label
      font-weight: 600
      font-size: .95rem
      margin: 0
      
    &>.counter
      text-align: end
      padding: .05rem .2rem .05rem .05rem
      position: relative
      &:hover
        &>.o-progress-bar
          background-color: $accent-25
        &.invalid
          &>.o-progress-bar
            background-color: $red-25
      
      &>.o-progress-bar
        position: absolute
        background-color: $accent-10
        top: 0
        bottom: 0
        height: 100%
        transition: width .05s ease, background-color .1s ease-in-out
        
      &.invalid
        color: red
        &>.o-progress-bar
          background-color: $red-10
      
    & .ratings
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: .5rem
        
      & .rating
        flex-basis: 50%
      
        & .radio
          display: none
          
          &:checked+.radio-label
            background: $accent-25
            border-color: $accent
            
        & .radio-label
          display: flex
          cursor: pointer
          
          &>img
            flex-basis: 3rem
            
          &>.main
            display: block
            margin-left: .5rem
            &>*
              display: block
            &>strong
              font-weight: 600
            &>span
              font-weight: 500
              
  & .o-form-control
    &:focus
      border-color: $accent
      box-shadow: 0 0 0 3px $accent-25
        