@use '../vars' as v
@use '../mixins/active-border' as ab

$title-height: 2rem

#story-app

  &>.story-details
    overflow-y: auto
    
    &>.titlebar
      display: flex
      align-items: baseline
      flex-direction: row
      padding-bottom: .5rem
      
      &>.rating
        height: $title-height * 0.7
        width: $title-height * 0.7
        margin-right: .5rem
      
      &>h1.title
        font-size: $title-height
        line-height: $title-height
    
    &>.tags
      display: flex
      flex-direction: row
      flex-wrap: wrap
  
    &>.main
      padding-top: .5rem
      text-align: justify
      
      &>.cover
        float: left
        margin-right: 10px
        margin-bottom: 10px
        width: 10rem
        object-fit: contain
        border: 1px solid v.$foreground-25
        
      & h2.author
        color: v.$foreground
        font-size: 1.2rem
        line-height: 1.2rem
        
    &>.actions
      display: flex
      margin-bottom: .5rem
  
      & button
        display: flex
        align-items: center
        background: transparent
        border: 1px solid v.$foreground-25
        color: v.$foreground
        min-height: 2rem
        margin-right: .1rem
        &:hover
          border-color: v.$foreground-75
  
      & .spacer
        flex: 1
        
  &>.chapters
    margin-top: .5rem
    &>span
      font-weight: bold
      
    &>.chapter
      display: flex
      justify-content: space-between
      padding: .5rem
      color: v.$foreground
      border-top: 1px solid v.$foreground-25
      &:last-child
        border-bottom: 1px solid v.$foreground-25
      &:hover
        background-color: v.$accent-10
      
      &>.left
        display: flex
        align-items: center
        &>*
          padding: 0 .25rem
  
        //&>.order
          
        &>.title
          &:hover
            color: v.$accent-75
          
        &>.date
          font-size: .8rem
          color: v.$foreground-50
          &:hover
            color: v.$foreground-75
            
        &>.read-status
          padding: 0
          width: 1.2rem
          height: 1.2rem
          background-color: transparent
          @include ab.active-border
          
          &.active
            background-color: v.$green-50
            display: flex
            align-items: center
            justify-content: center
            &:after
              display: block
              content: ''
              width: 80%
              height: 80%
              background-color: v.$background-25
              border: 1px solid v.$foreground-50
        
      //&>.right
        //&>.word-count
          
  &>.info
    border-top: 1px solid v.$foreground-25
  
    &>*
      padding: 0 .25rem
      color: v.$foreground-75
      &:hover
        color: v.$foreground
      
      
    