.tag-search
  
  & .tags
    min-height: 2.5rem
    padding: .2rem
    border: 1px solid $foreground-50
    border-bottom: none
    display: flex
    flex-wrap: wrap
    
    &>.tag  
      display: flex
      align-items: center
      &:first-child
        margin-left: 4px
        
      &>.material-icons-outlined
        font-size: 1.2rem
        
  & .search
    
  & .search-results