*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# Resharper
Ogma3.sln.DotSettings.user
Ogma3.sln.DotSettings

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
Ogma3/wwwroot/css/dist/
Ogma3/wwwroot/js/dist/
Ogma3/wwwroot/js/bundle/


# Visual Studio 2015
.vs/

# Dev env
node_modules/
yarn-error.log
Ogma3/logger-tokens.txt

# Env variables
ogma.env
postgres/postgres.env

# Reports
*.report.html
*.diag.json
*.binlog

# Experimental
Ogma3/wwwroot/lib/comments/
Ogma3/wwwroot/lib/admin/

# Unlighthouse
.unlighthouse

# Publish
.publish/