ogma_SendGridUser=
ogma_SendGridKey=

ogma_cdn=

ogma_B2__PersistBucket=
ogma_B2__KeyId=
ogma_B2__BucketId=
ogma_B2__ApplicationKey=
ogma_B2__AccountId=

ogma_RecaptchaSettings__SecretKey=
ogma_RecaptchaSettings__SiteKey=

ogma_ConnectionStrings__DbConnection=
ogma_migrateDatabases=

ogma_ASPNETCORE_ENVIRONMENT=