@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Admin panel - @ViewData["Title"]</h1>
<br>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"></partial>
        </div>
        <div class="col-md-9" id="app">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
@section CSS {
    <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true">
}
