@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["is-admin"] = true;
}

<div class="container" id="site-content-wide">
    <main role="main" class="pb-3" id="app">
        <h1 class="head">Admin panel - @ViewData["Title"]</h1>

        <div class="side-nav">
            <partial name="_ManageNav"></partial>
        </div>

        <div class="admin-body">
            @RenderBody()
        </div>

    </main>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
    <script src="_framework/blazor.server.js"></script>
}

@section CSS {
    <link rel="stylesheet" href="~/css/dist/admin.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/dist/editors.min.css" asp-append-version="true">
    @* ReSharper disable once Html.PathError *@
    <link rel="stylesheet" href="Ogma3.styles.css" asp-append-version="true">
}