@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="head">Admin panel - @ViewData["Title"]</h1>

<div class="side-nav">
    <partial name="_ManageNav"></partial>
</div>

<div class="admin-body" id="app">
    @RenderBody()
</div>


@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
@section CSS {
    <link rel="stylesheet" href="~/css/dist/admin.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/dist/editors.min.css" asp-append-version="true">
}
