@{
	Layout = "/Pages/Shared/_Layout.cshtml";
	ViewData["is-admin"] = true;
}

@section Head {
	<base href="/" />
}

<main role="main" class="pb-3" id="app">
	<h1 class="head">Admin panel - @ViewData["Title"]</h1>

	<div class="side-nav">
		<partial name="_ManageNav"></partial>
	</div>

	<div class="admin-body">
		@RenderBody()
	</div>

</main>

@section Scripts {
	@await RenderSectionAsync("Scripts", false)
}

@section CSS {
	<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
	<link rel="stylesheet" href="~/css/editors.css" asp-append-version="true">
}