<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="admin" asp-page="./Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TagsNavClass(ViewContext)" id="tags" asp-page="./Tags">Tags</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.CategoriesNavClass(ViewContext)" id="categories" asp-page="./Categories">Categories</a>
    </li>
</ul>