@using Microsoft.Extensions.Caching.Memory
@using Ogma3.Infrastructure.Extensions
@using Ogma3.Services.SidebarNavService
@inject AdminSidebarNavService SidebarNavService
@inject IMemoryCache Cache

@{
	var navItems = await Cache.GetOrCreateAsync(
		$"admin-nav-item-permissions:{User.GetUsername()}",
		async e => {
			e.SlidingExpiration = TimeSpan.FromMinutes(10);
			return await SidebarNavService.GetAccessibleItems(User);
		}
	);
}

<ul class="nav nav-pills flex-column">

	@foreach (var (category, items) in navItems ?? new Dictionary<string, List<NavbarItem>>())
	{
		if (!string.IsNullOrWhiteSpace(category))
		{
			<li class="nav-item">
				@category
			</li>
		}

		foreach (var item in items)
		{
			<li class="nav-item">
				<a class="nav-link @NavPages.PageNavClass(ViewContext, item.Name ?? "")"
				   id="@item.Name?.ToLower()"
				   for-route="@item.Path">
					@item.Name
				</a>
			</li>
		}
	}

	<li class="nav-item">
		OpenAPI
	</li>

	@* ReSharper disable once Html.PathError *@
	<a class="nav-link" href="/scalar/public" target="_blank">
		Scalar public
		<icon class="icon" name="lucide:external-link"></icon>
	</a>

	@* ReSharper disable once Html.PathError *@
	<a class="nav-link" href="/scalar/internal" target="_blank">
		Scalar internal
		<icon class="icon" name="lucide:external-link"></icon>
	</a>

</ul>