@page
@model Ogma3.Areas.Admin.Pages.Index

@{
    ViewData["Title"] = "Categories";
    ViewData["ActivePage"] = ManageNavPages.Categories;
}

<div class="text-center">
    <h1 class="display-4">Categories!</h1>
</div>