@page
@model Faq

@{
	ViewData["Title"] = "FAQ";
	ViewData["ActivePage"] = NavPages.Faq;
}

<div id="faqs">

	<form class="form" v-on:submit.stop.prevent="createFaq">

		<div class="o-form-group">
			<label for="question">Question</label>
			<input class="o-form-control" id="question" v-model="form.question">
		</div>

		<div class="o-form-group">
			<label for="answer">Answer</label>
			<textarea class="o-form-control" id="answer" v-model="form.answer"></textarea>
		</div>

		<div class="o-form-group">
			<input class="o-form-control" type="submit" value="Submit">
		</div>

		<input type="hidden" name="id" v-model="form.id">
	</form>

	<br>

	<details v-for="f in faqs">
		<summary>{{f.question}}</summary>
		<div class="actions">
			<button class="small inline action-btn" v-on:click="deleteFaq(f)">
				<icon icon="delete_forever"></icon>
			</button>
			<button class="small inline action-btn" v-on:click="editFaq(f)">
				<icon icon="edit"></icon>
			</button>
		</div>
		<div v-html="f.answerRendered"></div>
	</details>

	@Html.AntiForgeryToken()
</div>

@section Scripts
{
	<script defer src="~/js/dist/admin/faqs.js" asp-append-version="true"></script>
}