@page
@model Ogma3.Areas.Admin.Pages.Index

@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="text-center">
    <h1 class="display-4">Admin Area Here, Bitches!</h1>
</div>