@page
@model Ogma3.Areas.Admin.Pages.Index

@{
	ViewData["Title"] = "Dashboard";
	ViewData["ActivePage"] = NavPages.Index;
}

<div class="counters">
	@foreach (var item in Model.Counts)
	{
		<div class="counter">
			<span class="name">@item.Name</span>
			<span class="value">@item.Count</span>
		</div>
	}
</div>

<br>

<cache-info></cache-info>

<br>

<table-info></table-info>

@section Scripts
{
	<script type="module" src="~/js/dist/admin/lit-components/table-info.js" asp-append-version="true"></script>
	<script type="module" src="~/js/dist/admin/lit-components/cache-info.js" asp-append-version="true"></script>
}