@page
@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Ogma3.Areas.Admin.Pages.Index
@inject IAntiforgery Antiforgery

@{
	ViewData["Title"] = "Dashboard";
	ViewData["ActivePage"] = NavPages.Index;
	var csrf = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<div class="counters">
	@foreach (var item in Model.Counts)
	{
		<div class="counter">
			<span class="name">@item.Name</span>
			<span class="value">@item.Count</span>
		</div>
	}
</div>

<br>

<cache-info csrf="@csrf"></cache-info>

<br>

<table-info></table-info>

@section Scripts
{
	<script type="module" src="~/js/admin/lit-components/table-info.js" asp-append-version="true"></script>
	<script type="module" src="~/js/admin/lit-components/cache-info.js" asp-append-version="true"></script>
}