@page
@using Ogma3.Api.V1
@model Ogma3.Areas.Admin.Pages.InviteCodes

@{
    ViewData["Title"] = "Namespaces";
    ViewData["ActivePage"] = ManageNavPages.InviteCodes;
}

<button class="btn btn-primary btn-block" v-on:click="createCode">
    Issue code
</button>

<button v-if="codes.length <= 0" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>

<ul class="items-list">    
    <li v-for="n in codes">
        <div class="deco" v-bind:style="{background: n.userName ? 'green' : 'gray'}"></div>
        <div class="main">
            <h3 class="name"><span class="monospace">{{ n.code }}</span> : {{ date(n.issueDate) }}</h3>
            <span class="desc" v-if="n.userName">Redeemed by <strong>{{n.userName}}</strong> on <strong>{{date(n.usedDate)}}</strong></span>
        </div>
        <div class="actions">
            <button class="action" v-on:click="deleteCode(n)">
                <icon icon="delete_forever"></icon>
            </button>
            <button class="action" v-on:click="copyCode(n)">
                <icon icon="copy"></icon>
            </button>
        </div>
    </li>
</ul>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(InviteCodesController))" v-if="!route"></div>

@section Scripts
{
    <script src="~/js/dist/admin/invite-codes.min.js" asp-append-version="true"></script>
}