@page
@using Ogma3.Api.V1.InviteCodes
@model InviteCodes

@{
	ViewData["Title"] = "Invite Codes";
	ViewData["ActivePage"] = ManageNavPages.InviteCodes;
}

<button class="btn btn-primary btn-block" v-on:click="createCode">
	Issue code
</button>

<button v-if="codes.length <= 0" class="btn btn-primary" type="button" disabled>
	<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
	Loading...
</button>

<ul class="items-list">
	<li v-for="n in codes" :class="n.id === newCode ? 'hl' : null">

		<div class="deco" v-bind:style="{background: n.usedDate ? 'green' : 'gray'}"></div>

		<div class="main">
			<h3 class="name">
				<span class="monospace">{{ n.code }}</span>
			</h3>
			<span class="desc">
				<span>Issued by <strong>{{n.issuedByUserName}}</strong> on <strong>{{date(n.issueDate)}}</strong></span>
				<br>
				<span v-if="n.usedDate">Redeemed by <strong>{{n.usedByUserName}}</strong> on <strong>{{date(n.usedDate)}}</strong></span>
			</span>
		</div>

		<div class="actions">
			<button class="action" v-on:click="deleteCode(n)">
				<icon icon="delete_forever"></icon>
			</button>
			<button class="action" v-on:click="copyCode(n)">
				<icon icon="copy"></icon>
			</button>
		</div>

	</li>

	<li v-if="completed">
		<span class="ph">That's it!</span>
	</li>
</ul>

<button v-if="!completed" class="btn" v-on:click="loadMore">{{ loading ? 'Loading...' : 'Load More' }}</button>

@Html.AntiForgeryToken()
<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(InviteCodesController))" v-if="!route"></div>

@section Scripts
{
	<script type="module" src="~/js/dist/admin/invite-codes.min.js" asp-append-version="true"></script>
}