@page
@model Ogma3.Areas.Admin.Pages.Namespaces

@{
    ViewData["Title"] = "Namespaces";
    ViewData["ActivePage"] = ManageNavPages.Namespaces;
}
    
<form id="namespace" method="post" v-on:submit.stop.prevent="createNamespace">
    
    <ul v-if="err">
        <li class="text-danger" v-for="e in err">{{ e }}</li>
    </ul>
        
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" type="text" class="form-control" v-model="form.name">
        <span class="text-danger"></span>
    </div>
    
    <input type="hidden" :value="form.id">
        
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ form.id ? 'Edit' : 'Add' }}</button>
        <button v-if="form.id" class="btn btn-secondary" v-on:click="cancelEdit">Cancel</button>
    </div>
        
</form>

<button v-if="namespaces.length <= 0" class="btn btn-primary" type="button" disabled>
  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  Loading...
</button>

<ul>
    <li v-for="n in namespaces">{{ n.name }}<button v-on:click="deleteNamespace(n)">X</button><button v-on:click="editNamespace(n)">E</button></li>
</ul>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl("NamespacesController")" v-if="!route"></div>
@section Scripts
{
    <script src="~/js/admin/namespaces.min.js" asp-append-version="true"></script>
}
