@page
@model Ogma3.Areas.Admin.Pages.Namespaces

@{
    ViewData["Title"] = "Namespaces";
    ViewData["ActivePage"] = ManageNavPages.Namespaces;
}

<form id="namespace" method="post" v-on:submit.stop.prevent="createNamespace">

    <ul v-if="err">
        <li class="text-danger" v-for="e in err">{{ e }}</li>
    </ul>

    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" type="text" class="form-control" v-model="form.name">
    </div>

    <div class="form-group row" v-bind:style="{ background: color }">
        <div class="col-3">
            <label for="color-a" class="form-label">Alpha</label>
            <input class="form-control" type="number" value="1" min="0" max="1" step="0.01" id="color-a" v-model.number="form.color.a" v-on:change="updateColor">
        </div>

        <div class="col-3">
            <label for="color-r" class="form-label">Red</label>
            <input class="form-control" type="number" value="255" min="0" max="255" id="color-r" v-model.number="form.color.r" v-on:change="updateColor">
        </div>

        <div class="col-3">
            <label for="color-g" class="form-label">Green</label>
            <input class="form-control" type="number" value="255" min="0" max="255" id="color-g" v-model.number="form.color.g" v-on:change="updateColor">
        </div>

        <div class="col-3">
            <label for="color-b" class="form-label">Blue</label>
            <input class="form-control" type="number" value="255" min="0" max="255" id="color-b" v-model.number="form.color.b" v-on:change="updateColor">
        </div>
    </div>

    <input type="hidden" :value="form.id">

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ form.id ? 'Edit' : 'Add' }}</button>
        <button v-if="form.id" class="btn btn-secondary" v-on:click="cancelEdit">Cancel</button>
    </div>

</form>

<button v-if="namespaces.length <= 0" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>

<ul>
    <li v-for="n in namespaces">{{ n.name }}<button v-on:click="deleteNamespace(n)">X</button><button v-on:click="editNamespace(n)">E</button></li>
</ul>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl("NamespacesController")" v-if="!route"></div>

@section Scripts
{
    <script src="~/js/admin/namespaces.min.js" asp-append-version="true"></script>
}