@page
@using Ogma3.Api.V1.Quotes
@model Ogma3.Areas.Admin.Pages.Quotes

@{
    ViewData["Title"] = "Quotes";
    ViewData["ActivePage"] = ManageNavPages.Quotes;
}

<form class="form" v-on:submit.prevent="this.$event.preventDefault()">
    @if (User.IsInRole("Admin")){
        <details>
            <summary>Load from Json</summary>
            <div class="o-form-group">
                <textarea class="o-form-control active-border" rows="1" v-model="json" placeholder="Json"></textarea>
                <button class="action-btn" v-on:click="fromJson">Send</button>
            </div>
        </details>
    }
    
    <div class="o-form-group">
        <input type="text" class="o-form-control active-border" v-model="search" placeholder="Search...">
    </div>
</form>

<ul class="items-list">    
    <li v-for="q in quotes" v-show="!search || q.show">
        <div class="main">
            <span class="name">{{ q.body }}</span>
            <em class="desc">{{ q.author }}</em>
        </div>
        <div class="actions">
            <button class="action" v-on:click="deleteQuote(q)">
                <icon icon="delete_forever"></icon>
            </button>
            <button class="action" v-on:click="editQuote(q)">
                <icon icon="edit"></icon>
            </button>
        </div>
    </li>
</ul>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(QuotesController))" v-if="!route"></div>

@section Scripts
{
    <script src="~/js/dist/admin/quotes.min.js" asp-append-version="true"></script>
}