@page
@using Ogma3.Api.V1.Quotes
@model Quotes

@{
	ViewData["Title"] = "Quotes";
	ViewData["ActivePage"] = NavPages.Quotes;
}

<form class="form" v-on:submit.prevent="this.$event.preventDefault()">
	@if (User.IsInRole("Admin"))
	{
		<details class="details">
			<summary>Load from Json</summary>
			<div class="o-form-group">
				<textarea class="o-form-control active-border" rows="1" v-model="json" placeholder="Json"></textarea>
				<button class="action-btn" v-on:click="fromJson">Send</button>
			</div>
		</details>
	}

	<div class="o-form-group">
		<input type="text" class="o-form-control active-border" v-model="search" placeholder="Search...">
	</div>
</form>

<br>

<button class="btn btn-block btn-outline-primary" v-on:click="openEditor">
	<icon icon="lucide:plus" svg="true"></icon>
	Create New
</button>

<ul class="items-list">
	<li v-for="q in quotes" v-show="!search || q.show">
		<div class="main">
			<span class="name">{{ q.body }}</span>
			<em class="desc">{{ q.author }}</em>
		</div>
		<div class="actions">
			<button class="action" v-on:click="deleteQuote(q)">
				<icon icon="lucide:trash-2" svg="true"></icon>
			</button>
			<button class="action" v-on:click="openEditor(q)">
				<icon icon="lucide:pencil" svg="true"></icon>
			</button>
		</div>
	</li>
</ul>

<div v-show="editorOpen" class="my-modal" v-on:click.stop.self="closeEditor">
	<form class="content form" v-on:submit.prevent="saveQuote">

		<strong>{{ form.id === null ? 'Create' : 'Edit' }} quote</strong>

		<div class="o-form-group">
			<label for="author">Author</label>
			<input type="text" name="author" id="author" v-model="form.author">
		</div>

		<div class="o-form-group">
			<label for="body">Body</label>
			<textarea name="body" id="body" cols="40" rows="5" v-model="form.body"></textarea>
		</div>

		<div class="o-form-group">
			<input type="submit" :value="form.id === null ? 'Create' : 'Save'">
		</div>

	</form>
</div>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(GetAllQuotes))" v-if="!route"></div>

@section Scripts
{
	<script defer src="~/js/admin/quotes.js" asp-append-version="true"></script>
}