@page
@using Microsoft.AspNetCore.Antiforgery
@model Quotes
@inject IAntiforgery Csrf

@{
	ViewData["Title"] = "Quotes";
	ViewData["ActivePage"] = NavPages.Quotes;
}

<div id="quotes-app" data-csrf="@Csrf.GetAndStoreTokens(HttpContext).RequestToken" data-admin="@User.IsInRole("Admin")">

</div>

@section Scripts
{
	<script type="module" src="~/js/admin/quotes.js" asp-append-version="true"></script>
}