@page
@using Ogma3.Api
@using Ogma3.Api.V1
@model Ogma3.Areas.Admin.Pages.Quotes

@{
    ViewData["Title"] = "Quotes";
    ViewData["ActivePage"] = ManageNavPages.Quotes;
}

<div>
    <textarea rows="1" v-model="json" placeholder="Json"></textarea>
    <button v-on:click="fromJson">Send</button>
</div>

<input type="text" class="search" v-model="search" placeholder="Search...">

<ul class="items-list">    
    <li v-for="q in filtered">
        <div class="main">
            <span class="name">{{ q.body }}</span>
            <em class="desc">{{ q.author }}</em>
        </div>
        <div class="actions">
            <button v-on:click="deleteQuote(q)">
                <icon icon="delete_forever"></icon>
            </button>
            <button v-on:click="editQuote(q)">
                <icon icon="edit"></icon>
            </button>
        </div>
    </li>
</ul>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(QuotesController))" v-if="!route"></div>

@section Scripts
{
    <script src="~/js/admin/quotes.min.js" asp-append-version="true"></script>
}