@page
@model Ratings

@{
	ViewData["Title"] = "Ratings";
	ViewData["ActivePage"] = NavPages.Ratings;
}

<div id="ratings-app"></div>

@section Scripts
{
	<script type="module" src="~/js/admin/ratings.js" asp-append-version="true"></script>
}