@page
@model Ogma3.Areas.Admin.Pages.Roles

@{
    ViewData["Title"] = "Roles";
    ViewData["ActivePage"] = ManageNavPages.Roles;
}
    
<form id="tag" method="post" v-on:submit.stop.prevent="createTag">

        
</form>
