@page
@using Microsoft.AspNetCore.Antiforgery
@model Roles
@inject IAntiforgery Csrf

@{
	ViewData["Title"] = "Roles";
	ViewData["ActivePage"] = NavPages.Roles;
}

<div id="roles-app" data-csrf="@Csrf.GetAndStoreTokens(HttpContext).RequestToken">

</div>

@section Scripts
{
	<script type="module" src="~/js/admin/roles.js" asp-append-version="true"></script>
}