@page
@using Ogma3.Api.V1
@model Ogma3.Areas.Admin.Pages.Roles

@{
    ViewData["Title"] = "Roles";
    ViewData["ActivePage"] = ManageNavPages.Roles;
}
    
<form id="namespace" method="post" v-on:submit.stop.prevent="createRole">

    <div class="form-row">
    
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" type="text" class="form-control" v-model="form.name">
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Input.Color"></label>
                <input asp-for="Input.Color" type="color" class="form-control" v-model="form.color">
                <span class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Input.IsStaff"></label>
                <input asp-for="Input.IsStaff" type="checkbox" class="form-control" v-model="form.isStaff">
                <span class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Input.Order"></label>
                <input asp-for="Input.Order" type="number" class="form-control" min="0" v-model="form.order">
                <span class="text-danger"></span>
            </div>
        </div>
        
    </div>

    <input type="hidden" :value="form.id">

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ form.id ? 'Edit' : 'Add' }}</button>
        <button v-if="form.id" class="btn btn-secondary" v-on:click="cancelEdit">Cancel</button>
    </div>

</form>

<button v-if="roles.length <= 0" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>

<ul class="items-list">    
    <li v-for="n in roles">
        <div class="deco" v-bind:style="{background: n.color}">
            <span class="text">{{n.order}}</span>
        </div>
        <div class="main">
            <h3 class="name">{{ n.name }}</h3>
        </div>
        <div class="actions">
            <button class="action" v-on:click="deleteRole(n)">
                <icon icon="delete_forever"></icon>
            </button>
            <button class="action" v-on:click="editRole(n)">
                <icon icon="edit"></icon>
            </button>
        </div>
    </li>
</ul>

<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(RolesController))" v-if="!route"></div>

@section Scripts
{
    <script src="~/js/dist/admin/roles.min.js" asp-append-version="true"></script>
}
