@page
@model Ogma3.Areas.Admin.Pages.Scripts

@{
	ViewData["Title"] = "Scripts";
}

<pre>
@(Model.Message ?? "No message")
</pre>

<a for-route="@Routes.Areas.Admin.Pages.Scripts.GetUpdateStories()">
	Update Stories (set `IsVisible` based on publish date nullability)
</a>