@page
@model Ogma3.Areas.Admin.Pages.Tags

@{
    ViewData["Title"] = "Tags";
    ViewData["ActivePage"] = ManageNavPages.Tags;
}
    
<form id="tag" method="post" v-on:submit.stop.prevent="createTag">
    
    <ul v-if="err">
        <li class="text-danger" v-for="e in err">{{ e }}</li>
    </ul>
        
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" type="text" class="form-control" v-model="form.name">
        <span class="text-danger"></span>
    </div>
        
    <div class="form-group">
        <label asp-for="Input.Description"></label>
        <input asp-for="Input.Description" type="text" class="form-control" v-model="form.desc">
        <span class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label></label>
        <select asp-for="Input.Namespace" v-model="form.namespace" class="form-control">
            <option v-for="n in namespaces" :value="n.id" :selected="n.id == form.namespace">{{ n.name }}</option>
        </select>
        <span class="text-danger"></span>
    </div>
    
    <input type="hidden" :value="form.id">
        
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ form.id ? 'Edit' : 'Add' }}</button>
        <button v-if="form.id" class="btn btn-secondary" v-on:click="cancelEdit">Cancel</button>
    </div>
        
</form>

<button v-if="tags.length <= 0" class="btn btn-primary" type="button" disabled>
  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  Loading...
</button>

<ul class="items-list">    
    <li v-for="t in tags">
        <div class="main">
            <h3 class="name">{{ t.name }}</h3>
            <span class="desc">{{ t.description }}</span>
        </div>
        <div class="actions">
            <button v-on:click="deleteTag(t)">
                <icon icon="delete_forever"></icon>
            </button>
            <button v-on:click="editTag(t)">
                <icon icon="edit"></icon>
            </button>
        </div>
    </li>
</ul>

<div id="tag-route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl("TagsController")" v-if="!routes.tags"></div>
<div id="ns-route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl("NamespacesController")" v-if="!routes.namespaces"></div>
@section Scripts
{
    <script src="~/js/admin/tags.min.js" asp-append-version="true"></script>
}
