@page
@model Ogma3.Areas.Admin.Pages.Tags

@{
    ViewData["Title"] = "Tags";
    ViewData["ActivePage"] = ManageNavPages.Tags;
}

<div class="text-center">
    <h1 class="display-4">Tags here!</h1>
</div>
    
<form id="tag" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
        
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" type="text" class="form-control">
        <span class="text-danger"></span>
    </div>
        
    <div class="form-group">
        <label asp-for="Input.Description"></label>
        <input asp-for="Input.Description" type="text" class="form-control">
        <span class="text-danger"></span>
    </div>
        
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
        
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let form = document.getElementById('tag');
    form.addEventListener("submit", (e) => {
        e.preventDefault();

        axios.post('@Url.RouteUrl("TagsController")',
            {
                name: "Some Tag",
                description: "Some description 😩👌"
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    });
</script>