@page
@using Microsoft.AspNetCore.Antiforgery
@model Users
@inject IAntiforgery Antiforgery

@{
	ViewData["Title"] = "Users";
	ViewData["ActivePage"] = NavPages.Users;
	var csrf = Antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<div
	id="users-app"
	data-csrf="@csrf"
	data-infractions="@Model.InfractionNamesJson"
	data-roles="@Model.RolesJson"
	data-name="@Model.Name"
></div>


@section Scripts {
	<script type="module" src="~/js/admin/users.js" asp-append-version="true"></script>
}