@using Ogma3.Data.Models
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var currentUser = ViewData["User"] as User;
}

@if (currentUser != null)
{
    <div>
        <div class="row">
            <partial name="_ProfileBar" model="currentUser"></partial>
        </div>

        <div class="row">
            <div class="col-md-12" id="app">
                @RenderBody()
            </div>
        </div>

    </div>
}
else
{
    <h1>User not found</h1>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}