pre.debug {
	padding: 0.5rem;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	box-shadow: 0 0 0 4px black;
	outline: 4px dashed yellow;
}

// Highlight links with empty href
a[href=""] {
	box-shadow: 0 0 0 4px black;
	outline: 4px dashed yellow;
}
