@use "../mixins/active-border" as ab;
@use "../vars" as v;

.counters {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  gap: 1rem;

  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    @include ab.active-border;
    
    * {
      cursor: default;
    }
    
    .name {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: v.$foreground-75;
      font-weight: 175;
    }
    
    .value {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 565;
    }
  }
}