.votes {
	padding: .5rem;

	&.active {
		::part(icon) {
			color: var(--gold);

			animation: spin .2s ease-in-out;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
