.votes {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem;
	margin-right: .1rem;
	background-color: var(--background-75);
	color: var(--foreground-75);
	border: 1px solid var(--foreground-25);

	&:focus {
		border: 1px solid var(--accent-50);
		border-color: var(--accent);
	}

	&:hover {
		background-color: var(--accent-10);
		border-color: var(--foreground-50);
		color: var(--foreground);
		text-decoration: none;
	}

	&.active {
		::part(icon) {
			color: var(--gold);

			animation: spin .2s ease-in-out;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
