@use "../vars" as v;

.ban-info {
  text-align: center;
  margin-bottom: 1rem;
}

details.infraction {
  margin-top: .5rem;
  
  summary {
    color: v.$foreground-50;
    
    &.passed {
      text-decoration: line-through v.$foreground-75;
    }
    
    >time {
      color: v.$foreground;
    }
  }
  
  .reason {
  }
  
  .type {
    &.ban {
      color: v.$red-75;
    }

    &.mute {
      color: rgba(255, 128, 0, 0.75);
    }

    &.warning {
      color: rgba(255, 251, 0, 0.75);
    }
    
    &.note {
      color: royalblue;
    }
  }
}