main#app {
	display: grid;
	grid:
		"head head" auto
		"nav body" 1fr / auto 1fr;
	gap: 1rem 2rem;

	.head {
		grid-area: head;
	}

	.side-nav {
		grid-area: nav;
		position: sticky;
		top: calc(var(--dynamic-nav-height) + 1rem);
		align-self: start;
		transition: top 0.2s ease-in-out;
	}

	.admin-body {
		grid-area: body;
	}

	span.redacted {
		background-color: var(--foreground-50);
		color: transparent;
		transition:
			background-color 0s,
			color 0s;
		transition-delay: 1s;
		border-bottom: 1px dotted var(--foreground);
		padding-inline: 1px;
		margin-inline: 1px;

		&:hover {
			color: var(--foreground);
			background-color: transparent;
			transition-delay: 0.5s;
		}
	}
}
