main#app {
	display: grid;
	grid: "head head" auto
        "nav body" 1fr / auto 1fr;
	gap: 1rem 2rem;

	.head {
		grid-area: head;
	}

	.side-nav {
		grid-area: nav;
		position: sticky;
		top: calc(var(--dynamic-nav-height) + 1rem);
		align-self: start;
		transition: top .2s ease-in-out;
	}

	.admin-body {
		grid-area: body;
	}
}