@page "/user/{name}/blog"
@model Ogma3.Pages.User.BlogModel

@{
    ViewData["Title"] = $"{Model.ProfileBar.UserName}'s blog";
    ViewData["Tab"] = "Blog";
}

<partial name="_ProfileBar" model="Model.ProfileBar"></partial>

@if (Model.IsCurrentUser)
{
    <a asp-page="/Blog/Create" class="btn btn-block btn-outline-primary">
        <icon icon="add"></icon>
        Create New
    </a>
}

@if (Model.Posts.Count <= 0)
{
    <h1>No blog posts found</h1>
}
else
{
    @foreach (var post in Model.Posts) {
        <partial name="_BlogpostCard" model="@post"></partial>
    }
    
    @if (Model.ProfileBar.BlogpostsCount > Model.PerPage)
    {
        <div class="pagination">
            <a class="prev button" href="?page=@(Math.Max(1, Model.PageNumber - 1))">Previous</a>
            @if (Model.PageNumber > 5)
            {
                <div class="ph button">...</div>
            }
            @for (var i = 1; i <= (int)Math.Ceiling((double)Model.ProfileBar.BlogpostsCount / Model.PerPage); i++)
            {
                @if (i >= Model.PageNumber - 4 && i <= Math.Max(Model.PageNumber, 5))
                {
                    <a href="?page=@i"
                       class="page button @(i == Model.PageNumber ? "active" : "")">
                        @i
                    </a>
                }
            }
            @if (Model.ProfileBar.BlogpostsCount / Model.PerPage > 5 && Model.PageNumber != Model.ProfileBar.BlogpostsCount / Model.PerPage)
            {
                <div class="ph button">...</div>
            }
            <a class="next button" href="?page=@(Math.Min(Model.PageNumber + 1, (int)Math.Ceiling((double)Model.ProfileBar.BlogpostsCount / Model.PerPage)))">Next</a>
        </div>
    }
}

