@page "/user/{name}/followers"
@model Ogma3.Pages.User.Followers

@{
    ViewData["Title"] = $"Users following {Model.Name}";
    ViewData["Tab"] = "Follows";
}

<vc:profile-bar name="@Model.Name" />

<h1>Users following @Model.Name</h1>

<hr>

<div class="two-columns o-grid">
    @foreach (var u in Model.Users)
    {
        <partial name="Shared/Cards/_UserCard" model="u"/>
    }
    
    <partial name="_Pagination" model="Model.Pagination"/>
</div>