@page "/user/{name}/followers"
@model Followers

@{
	ViewData["Title"] = $"Users following {Model.ProfileBar.UserName}";
	ViewData["Tab"] = "Follows";
}

<partial name="Shared/Bars/_ProfileBar" model="Model.ProfileBar"/>

<h1>Users following @Model.ProfileBar.UserName</h1>

<hr>

<div class="two-columns o-grid">
	@foreach (var u in Model.Users)
	{
		<partial name="Shared/Cards/_UserCard" model="u"/>
	}

	<partial name="_Pagination" model="Model.Pagination"/>
</div>