@page "/user/{name}/stories"
@model Ogma3.Pages.User.StoriesModel

@{
    ViewData["Title"] = $"{Model.Name}'s stories";
    ViewData["Tab"] = "Stories";
}

<vc:profile-bar name="@Model.Name" />

@if (Model.IsOwner)
{
    <a class="btn btn-block btn-outline-primary" asp-page="/Stories/Create"> 
        <icon icon="add"></icon>
        Create New
    </a>
}

@if (Model.Stories.Count <= 0)
{
    <h1>No stories found</h1>
}
else
{
    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/Cards/_StoryCard" model="story"/>
    }
    
    <partial name="_Pagination" model="Model.Pagination"/>
}