@page "/user/{name}/stories"
@model Ogma3.Pages.User.StoriesModel

@{
    ViewData["Title"] = $"{Model.ProfileBar.UserName}'s stories";
    ViewData["Tab"] = "Stories";
}

<partial name="_ProfileBar" model="Model.ProfileBar" />

@if (Model.IsCurrentUser)
{
    <a class="btn btn-block btn-outline-primary" asp-page="Create"> 
        <icon icon="add"></icon>
        Create New
    </a>
}


@if (Model.Stories.Count <= 0)
{
    <h1>No stories found</h1>
}
else
{
    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/_StoryCard" model="story"/>
    }
    
    <partial name="_Pagination" model="Model.PaginationModel"/>
}