@using static Ogma3.Services.HtmlExtensions
@model Ogma3.Data.Models.CommentsThread

<div class="comments-container" id="comments-container">

    @if (User.Identity.IsAuthenticated)
    {
        <form asp-antiforgery="true">
            <textarea class="comment-box active-border" v-model="body" v-on:keydown.enter="enter" name="body" id="body" rows="3" aria-label="Comment"></textarea>

            <div id="thread" data-thread="@Model.Id" v-if="!thread"></div>
            <div id="route" data-route="@Url.RouteUrl("CommentsController")" v-if="!route"></div>

            <div class="buttons">
                <button class="comment-btn active-border" v-on:click="submit">
                    <icon icon="add_comment"></icon>
                    Comment
                </button>
                <a class="help-btn active-border" target="_blank" asp-page="/Markdown" asp-area="">
                    <icon icon="help_outline"></icon>
                </a>
            </div>
        </form>
    }
    else
    {
        <span>
            <a asp-area="Identity" asp-page="/Account/Login">Log in</a> or 
            <a asp-area="Identity" asp-page="/Account/Register">register</a> 
            to be able to leave comments
        </span>
    }

    <div class="comments">
        <div class="comment" v-for="c in comments">
            <div class="author">
                <span class="name">{{ c.val.author.userName }}</span>
                <img :src="c.val.author.avatar" :alt="c.val.author.userName + '\'s avatar'" class="avatar">
            </div>
            <div class="main">
                <div class="header">
                    <span>#{{ c.key+1 }}</span>
                    <p class="sm-line"></p>
                    <time :datetime="c.val.dateTime" class="time">{{ date(c.val.dateTime) }}</time>
                </div>
                <div class="body" v-html="c.val.body"></div>
            </div>
        </div>
    </div>

</div>

@Html.Resource(@<script src="~/js/comments.min.js" asp-append-version="true"></script>)