@using System.Globalization
@model ContentBlockCard

<div class="alert alert-warning">
	This content was blocked by <strong>@Model.IssuerUserName</strong> on
	<strong>
		<time-display
			class="date"
			utc-date="Model.DateTime"
			formatter="@(d => d.ToString("dd MMMM yyyy HH:mm", CultureInfo.InvariantCulture))">
		</time-display>
	</strong>
	for the following reason:
	<br>
	<em>@Model.Reason</em>
</div>