@using System.Security.Claims
@using Ogma3.Data.Models
@inject SignInManager<OgmaUser> SignInManager
@inject OgmaUserManager UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/User/Index" asp-route-name="@User.Identity.Name" title="Manage">
                <avatar src="@(User.FindFirstValue(OgmaClaimTypes.Avatar))" size="30" alt="@User.Identity.Name's avatar"></avatar>
                Hello @User.Identity.Name!
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Account">
                <icon icon="person"></icon>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" title="Log out">
                <icon icon="exit_to_app"></icon>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

</ul>