@using System.Security.Claims
@using Ogma3.Data.Users
@using Ogma3.Infrastructure.Extensions
@using Routes.Pages
@inject SignInManager<OgmaUser> SignInManager

@{
	var username = User.FindFirstValue(ClaimTypes.Name);
	var avatar = User.FindFirstValue(ClaimTypes.Avatar) ?? "/img/placeholders/ph-250.png";
}

@if (SignInManager.IsSignedIn(User) && username is not null)
{
	<ul class="navbar-nav right logged-in">
		<li class="nav-item user">
			<a class="nav-link user" for-route="@User_Index.Get(username)" title="Profile">
				<img src="@avatar"
				     width="30" height="30"
				     class="avatar"
				     alt=""
				     role="presentation" cf />
				<span class="name">Hello @(username)!</span>
			</a>
		</li>

		<li class="nav-item">
			<o-notifications-button></o-notifications-button>
		</li>

		<li class="nav-item">
			<a class="nav-link light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Account">
				<icon icon="lucide:user"></icon>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link light" asp-area="Identity" asp-page="/Account/Logout" title="Log out">
				<icon icon="lucide:log-out"></icon>
			</a>
		</li>

	</ul>
}
else
{
	<ul class="navbar-nav right">

		<li class="nav-item register">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>

	</ul>
}