@using System.Security.Claims
@using Ogma3.Data.Models
@inject SignInManager<OgmaUser> SignInManager
@inject OgmaUserManager UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/User/Index" asp-route-name="@User.Identity.Name" title="Manage">
                <avatar src="@(User.FindFirstValue(OgmaClaimTypes.Avatar))" size="30" alt="@User.Identity.Name's avatar"></avatar>
                Hello @User.Identity.Name!
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }


    <li class="nav-item dropdown">
        <a class="nav-link text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <icon icon="menu"></icon>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a class="dropdown-item text-dark" asp-area="Admin" asp-page="/Index">
                    <icon icon="settings" class="admin-cog"></icon>
                    Admin
                </a>
            }
            
            <a href="" class="dropdown-item text-dark">
                <icon icon="help"></icon>
                About
            </a>

            @if (SignInManager.IsSignedIn(User))
            {
                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <icon icon="person"></icon>
                    Account
                </a>
                
                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout" method="post">
                    <icon icon="exit_to_app"></icon>
                    Logout
                </a>
            }

        </div>
    </li>

</ul>