<a class="brand" asp-area="" asp-page="/Index">
	Genfic
	<version color="#ff7621" text="β"></version>
</a>

<ul class="navbar-nav left">

	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-page="/Stories/Index">
			<span class="name">Stories</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-page="/Blog/Index">
			<span class="name">Blogs</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" asp-area="" asp-page="/Clubs/Index">
			<span class="name">Clubs</span>
		</a>
	</li>

</ul>