@using Ogma3.Data.Enums
@model Ogma3.Data.Enums.EStoryStatus

@{
    string icon;
    string name;
    
    switch (Model)
    {
        case EStoryStatus.InProgress:
            icon = "autorenew";
            name = "In progress";
            break;
        case EStoryStatus.Completed:
            icon = "done";
            name = "Completed";
            break;
        case EStoryStatus.OnHiatus:
            icon = "pause";
            name = "On hiatus";
            break;
        case EStoryStatus.Cancelled:
            icon = "block";
            name = "Cancelled";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
}

<div class="story-status @Model.ToString().ToLower()">
    <icon icon="@icon"></icon>
    <span class="name">@name</span>
</div>