@{
    Layout = "_Layout";
}

<main role="main" class="pb-3" id="app">
    @RenderBody()
</main>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}

@section CSS {
    @await RenderSectionAsync("Css", false)
}

@section OgMeta {
    @await RenderSectionAsync("OgMeta", false)
}
