@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3" id="app">
	@RenderBody()
</main>

@section Scripts {
	@await RenderSectionAsync("Scripts", false)
}

@section CSS {
	@await RenderSectionAsync("CSS", false)
}

@section OgMeta {
	@await RenderSectionAsync("OgMeta", false)
}