@use "sass:color";
@use "../mixins/generators" as a;

// Variables
$foreground: oklch(18.7% 0 89.876deg);
$background: oklch(95.2% 0 89.876deg);
$accent: oklch(42.4% 0.248 264.297deg);

$gold: oklch(70.5% 0.147 74.312deg);
$red: oklch(66.8% 0.219 25.422deg);
$green: oklch(87.3% 0.275 142.756deg);
$blue: oklch(63.4% 0.197 261.749deg);
$yellow: oklch(97% 0.196 109.557deg);

:root {
	--trans: transparent;
	--foreground: #{$foreground};

	@include a.alphas("foreground", 0.75, 0.5, 0.25, 0.1);
	@include a.blends("foreground", "background", 75, 50, 25, 10);

	--background: #{$background};

	@include a.alphas("background", 0.75, 0.5, 0.25);
	@include a.blends("background", "trans", 75, 50, 25, 10);

	--accent: #{$accent};

	@include a.alphas("accent", 0.75, 0.5, 0.25, 0.1, 0.05);
	@include a.blends("accent", "background", 75, 50, 25, 10, 5);

	--red: #{$red};

	@include a.alphas("red", 0.75, 0.5, 0.25, 0.1);
	@include a.blends("red", "background", 100, 75, 50, 25, 10);

	--green: #{$green};

	@include a.alphas("green", 0.75, 0.5, 0.25, 0.1);
	@include a.blends("green", "background", 100, 75, 50, 25, 10);

	--blue: #{$blue};

	@include a.alphas("blue", 0.75, 0.5, 0.25, 0.1);
	@include a.blends("blue", "background", 100, 75, 50, 25, 10);

	--yellow: #{$yellow};

	@include a.alphas("yellow", 0.75, 0.5, 0.25, 0.1);
	@include a.blends("yellow", "background", 100, 75, 50, 25, 10);

	--gold: #{$gold};
	--ele-1: oklch(from #{$background} calc(l * 1.2) c h);

	// brands
	--patreon-bg: oklch(95% 0.05 31.998deg);
	--patreon-fg: var(--foreground);
	--tumblr-bg: oklch(90% 0.064 252.202deg);
	--tumblr-fg: #001935;
	--discord-bg: #e0e3ff;
	--discord-fg: var(--foreground);
	--google-bg: white;
	--google-fg: #1f1f1f;
}
