@use "elements/nav-pills";
@use "vars" as v;

#account {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 1rem;

	@media screen and (max-width: v.$mq-mobile) {
		display: flex;
		flex-direction: column;
	}

	.account {
		&__header {
			grid-row: 1;
			grid-column: 1 / 3;
		}

		&__nav {
			grid-row: 2;
			grid-column: 1;
		}

		&__body {
			grid-row: 2;
			grid-column: 2;
			display: flex;
			flex-direction: column;
		}
	}
}

.logins {
	align-self: baseline;
	display: grid;
	grid-template-columns: auto 2fr auto 1fr;
	align-items: center;
	gap: .25rem 1rem;

	img {
		aspect-ratio: 1;
	}

	form {
		button {
			width: 100%;
		}
	}
}