@use 'sass:color';
@use "./mixins/generators" as a;

// Variables
$foreground: oklch(18.7% 0 89.876deg);
$background: oklch(95.2% 0 89.876deg);
$accent: oklch(42.4% 0.248 264.297deg);

$gold: oklch(70.5% 0.147 74.312deg);
$red: oklch(66.8% 0.219 25.422deg);
$green: oklch(87.3% 0.275 142.756deg);
$blue: oklch(63.4% 0.197 261.749deg);
$yellow: oklch(97% 0.196 109.557deg);

:root {
	--foreground: #{$foreground};

	@include a.alphas('foreground', .75, .50, .25, .10);

	--background: #{$background};

	@include a.alphas('background', .75, .50, .25);

	--accent: #{$accent};

	@include a.alphas('accent', .75, .50, .25, .10, .05);

	--red: #{$red};

	@include a.alphas('red', .75, .50, .25, .10);
	@include a.blends('red', 'background', 100, 75, 50, 25, 10);

	--green: #{$green};

	@include a.alphas('green', .75, .50, .25, .10);
	@include a.blends('green', 'background', 100, 75, 50, 25, 10);

	--blue: #{$blue};

	@include a.alphas('blue', .75, .50, .25, .10);
	@include a.blends('blue', 'background', 100, 75, 50, 25, 10);

	--yellow: #{$yellow};

	@include a.alphas('yellow', .75, .50, .25, .10);
	@include a.blends('yellow', 'background', 100, 75, 50, 25, 10);

	--gold: #{$gold};
	--ele-1: oklch(from #{$background} calc(l * 1.2) c h);
}