// Variables
$foreground: white
$background: black
$accent: #6a00ff
$gold: #c48508

\:root
  --foreground: #{$foreground}
  --foreground-75: #{rgba($foreground, .75)}
  --foreground-50: #{rgba($foreground, .50)}
  --foreground-25: #{rgba($foreground, .25)}

  --background: #{$background}
  --background-75: #{rgba($background, .75)}
  --background-50: #{rgba($background, .50)}
  --background-25: #{rgba($background, .25)}

  --accent: #{$accent}
  --accent-75: #{rgba($accent, .75)}
  --accent-50: #{rgba($accent, .50)}
  --accent-25: #{rgba($accent, .25)}
  --accent-10: #{rgba($accent, .10)}

  --gold: #{$gold}