form.form {
  display: flex;
  flex-direction: column;
}
form.form .form-row {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}
form.form .form-row .o-form-group {
  flex: 1;
  padding: 0 0.5rem;
  margin: 0;
}
form.form .form-row .o-form-group:first-child {
  padding-left: 0;
}
form.form .form-row .o-form-group:last-child {
  padding-right: 0;
}
form.form .form-row .o-form-group.keep-size {
  flex: 0;
}
form.form .o-form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
form.form .o-form-group input,
form.form .o-form-group textarea {
  padding: 0.5rem;
  background-color: var(--background);
  color: var(--foreground);
}
form.form .o-form-group textarea {
  min-height: 3rem;
}
form.form .o-form-group input[type=color] {
  cursor: pointer;
  padding: 0.25rem;
  min-height: 48px;
  min-width: 48px;
  border: 1px solid var(--foreground-25);
}
form.form .o-form-group input[type=color]:hover {
  border-color: var(--foreground-50);
}
form.form .o-form-group input[type=color]:focus {
  border-color: var(--accent);
}
form.form .o-form-group label {
  font-weight: 600;
  font-size: 0.95rem;
  margin: 0;
  white-space: nowrap;
}
form.form .o-form-group .ratings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}
@media only screen and (max-width: 570px) {
  form.form .o-form-group .ratings {
    display: flex;
    flex-direction: column;
  }
  form.form .o-form-group .ratings > .rating {
    margin-bottom: 0.5rem;
  }
}
form.form .o-form-group .ratings .rating {
  position: relative;
}
form.form .o-form-group .ratings .rating .radio {
  opacity: 0;
  position: absolute;
}
form.form .o-form-group .ratings .rating .radio:checked + .radio-label {
  background: var(--accent-25);
  border-color: var(--accent);
}
form.form .o-form-group .ratings .rating .radio:focus + .radio-label {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px var(--accent-25);
}
form.form .o-form-group .ratings .rating .radio-label {
  display: flex;
  cursor: pointer;
}
form.form .o-form-group .ratings .rating .radio-label > img {
  flex-basis: 3rem;
}
form.form .o-form-group .ratings .rating .radio-label > .main {
  display: block;
  margin-left: 0.5rem;
}
form.form .o-form-group .ratings .rating .radio-label > .main > * {
  display: block;
}
form.form .o-form-group .ratings .rating .radio-label > .main > strong {
  font-weight: 600;
}
form.form .o-form-group .ratings .rating .radio-label > .main > span {
  font-weight: 500;
}
form.form .o-form-group .field-validation-error {
  color: var(--red);
  background-color: var(--red-10);
  padding: 0.25rem;
  font-size: 0.9rem;
}
form.form .o-form-control:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px var(--accent-25);
}
form.form .o-form-control.changed {
  background-color: var(--red-25);
}

form.confirm {
  padding: 1rem 0 0;
}
form.confirm > .buttons {
  display: flex;
}
form.confirm > .buttons .button {
  border: 1px solid var(--foreground-25);
  padding: 0.5rem;
}
form.confirm > .buttons .button:hover {
  border-color: var(--foreground-50);
  background-color: var(--accent-10);
}
form.confirm > .buttons .button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
form.confirm > .buttons .button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
form.confirm > .buttons .button.accept.red {
  border-color: var(--red);
  background-color: var(--red-50);
}
form.confirm > .buttons .button.accept.red:hover {
  background-color: var(--red-75);
}
form.confirm > .buttons .button.accept.green {
  border-color: var(--green);
  background-color: var(--green-50);
}
form.confirm > .buttons .button.accept.green:hover {
  background-color: var(--green-75);
}
form.confirm > .buttons .button.cancel {
  text-decoration: none;
  color: var(--foreground);
}

.select-group {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
}
.select-group label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0;
  flex: 1;
  border: 1px solid var(--foreground-25);
}
.select-group label:hover {
  border-color: var(--foreground-50);
}
.select-group label:focus {
  border-color: var(--accent);
}
.select-group label:hover {
  background-color: var(--accent-5);
}
.select-group input[type=checkbox],
.select-group input[type=radio] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.select-group input[type=checkbox]:checked + label,
.select-group input[type=radio]:checked + label {
  background-color: var(--accent-25);
}
.select-group input[type=checkbox]:focus + label,
.select-group input[type=radio]:focus + label {
  border-color: var(--accent);
  box-shadow: 0 0 0 3px var(--accent-25);
}

.counter {
  text-align: end;
  position: relative;
  display: flex;
}
.counter:hover > .o-progress-bar {
  background-color: var(--accent-25);
}
.counter:hover.invalid > .o-progress-bar {
  background-color: var(--red-25);
}
.counter > .o-progress-bar {
  position: absolute;
  background-color: var(--accent-10);
  top: 0;
  bottom: 0;
  height: 100%;
  transition: width 0.05s ease, background-color 0.1s ease-in-out;
}
.counter span {
  margin: 0.05rem 0.2rem;
}
.counter span:first-child {
  margin-right: 0;
}
.counter span:last-child {
  margin-left: 0;
  flex: 1;
}
.counter.invalid {
  color: red;
}
.counter.invalid > .o-progress-bar {
  background-color: var(--red-10);
}

.tag-search-select {
  width: 100%;
}
.tag-search-select .output {
  visibility: collapse;
  display: contents;
  height: 0;
  width: 0;
}
.tag-search-select .tag-search.inline {
  display: flex;
  align-items: center;
}
.tag-search-select .tag-search.inline .tags {
  flex-grow: 1;
}
.tag-search-select .tag-search .searchbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.tag-search-select .tag-search .tags {
  min-height: 2.5rem;
  padding: 0.15rem;
  border: 1px solid var(--foreground-50);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}
.tag-search-select .tag-search .tags > .tag {
  contain: content;
  flex-grow: 1;
}
.tag-search-select .tag-search .tags > .tag:first-child {
  margin-left: 4px;
}
.tag-search-select .tag-search .tags > .tag .material-icons-outlined {
  font-size: 1.2rem;
  cursor: pointer;
}
.tag-search-select .tag-search .tags > .tag .material-icons-outlined:hover {
  background-color: var(--background-25);
}
.tag-search-select .tag-search .tags .search {
  flex-grow: 100;
  width: 1rem;
  padding: 0.5rem;
  margin: 0;
  background-color: transparent;
  color: var(--foreground);
  border: none;
}
.tag-search-select .tag-search .search-results {
  max-height: 6rem;
  overflow-y: scroll;
  border: 1px solid var(--foreground-50);
  background-color: var(--background);
  border-top: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.tag-search-select .tag-search .search-results > li {
  flex: 1;
  padding: 0.2rem;
  margin: 0.1rem;
  cursor: pointer;
  border: 1px solid var(--foreground-25);
  background-color: var(--background);
}
.tag-search-select .tag-search .search-results > li:hover, .tag-search-select .tag-search .search-results > li.hl {
  box-shadow: inset 0 0 2px 1px var(--accent-75);
  border: 1px solid var(--foreground-75);
}