*,
*::before,
*::after{
  box-sizing:border-box; }

ul[class],
ol[class],
*::before,
*::after{
  padding:0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
*::before,
*::after{
  margin:0; }

body{
  min-height:100vh;
  scroll-behavior:smooth;
  text-rendering:optimizeSpeed;
  line-height:1.5; }

ul[class],
ol[class]{
  list-style:none; }

a:not([class]){
  -webkit-text-decoration-skip:ink;
          text-decoration-skip-ink:auto; }

img{
  max-width:100%;
  display:block; }

article > * + *{
  margin-top:1em; }

input,
button,
textarea,
select{
  font:inherit; }

body{
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
          flex-direction:column; }

#site-content{
  -webkit-box-flex:1;
          flex:1; }

footer{
  height:60px; }

p.tag{
  line-height:1;
  border:1px solid black;
  margin:4px;
  padding:4px;
  cursor:pointer; }
  p.tag:first-child{
    margin-left:0; }
  p.tag:hover{
    opacity:0.9; }

img.avatar{
  display:inline; }

div.story-card{
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
          flex-direction:row;
  border:1px solid rgba(0, 0, 0, 0.25);
  margin:4px 0 0; }
  div.story-card:first-of-type{
    margin:0; }
  div.story-card > img.image{
    -webkit-box-flex:0;
            flex:0 0 10rem;
    -o-object-fit:contain;
       object-fit:contain;
    align-self:flex-start; }
  div.story-card > div.body{
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
    padding:0 4px; }
    div.story-card > div.body > .title{
      margin:0 4px;
      color:black; }
      div.story-card > div.body > .title:hover{
        color:rgba(0, 0, 0, 0.75);
        text-decoration:underline;
        -webkit-text-decoration-skip:ink;
                text-decoration-skip-ink:auto; }
    div.story-card > div.body > .author{
      margin:0 4px;
      font-size:1.1rem; }
    div.story-card > div.body > .hook{
      margin:2px 4px; }
    div.story-card > div.body > .tags{
      display:-webkit-box;
      display:flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
              flex-direction:row;
      flex-wrap:wrap; }

.story-details > .titlebar{
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
          flex-direction:row;
  padding-bottom:.5rem; }
  .story-details > .titlebar > .rating{
    height:2rem;
    width:2rem;
    margin-right:.5rem; }
  .story-details > .titlebar > h1.title{
    font-size:2rem;
    line-height:2rem; }

.story-details > .tags{
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
          flex-direction:row;
  flex-wrap:wrap; }

.story-details > .main{
  padding-top:.5rem; }
  .story-details > .main > .cover{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    width:10rem;
    -o-object-fit:contain;
       object-fit:contain;
    border:1px solid rgba(0, 0, 0, 0.25); }
  .story-details > .main > h2.author{
    font-size:1.2rem;
    line-height:1.2rem; }
  @media (prefers-reduced-motion: reduce){
  *{
    -webkit-animation-duration:0.01ms !important;
            animation-duration:0.01ms !important;
    -webkit-animation-iteration-count:1 !important;
            animation-iteration-count:1 !important;
    -webkit-transition-duration:0.01ms !important;
            transition-duration:0.01ms !important;
    scroll-behavior:auto !important; } }
  @media only screen and (max-width: 570px){
    div.story-card{
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
              flex-direction:column; }
      div.story-card > img.image{
        align-self:center; } }
