// Variables
$foreground: black
$foreground-75: rgba($foreground, .75)
$foreground-50: rgba($foreground, .50)
$foreground-25: rgba($foreground, .25)

$background: white
$background-75: rgba($background, .75)
$background-50: rgba($background, .50)
$background-25: rgba($background, .25)

$accent: #0080ff
$accent-75: rgba($accent, .75)
$accent-50: rgba($accent, .50)
$accent-25: rgba($accent, .25)
$accent-10: rgba($accent, .10)

// Base import
@import "src/base"