.login-form .left {
  width: min(100%, 240px);
}
.login-form .left.wide {
  width: min(100%, 310px);
}
.login-form .left .form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.login-form .left .form .avatar {
  border: 1px solid var(--foreground-25);
  width: 100%;
}
.login-form .left .form .avatar:hover {
  border-color: var(--foreground-50);
}
.login-form .left .form .avatar:not(.checked) {
  filter: invert(0.95);
  mix-blend-mode: difference;
}
.login-form .left .form .title {
  margin: 0.25rem 0;
  text-align: center;
}
.login-form .left .form .g-recaptcha {
  align-self: center;
  margin: 0.5rem 0;
}