// Variables
$foreground: var(--foreground)
$foreground-75: var(--foreground-75)
$foreground-50: var(--foreground-50)
$foreground-25: var(--foreground-25)

$background: var(--background)
$background-75: var(--background-75)
$background-50: var(--background-50)
$background-25: var(--background-25)

$accent: var(--accent)
$accent-75: var(--accent-75)
$accent-50: var(--accent-50)
$accent-25: var(--accent-25)
$accent-10: var(--accent-10)

$gold: var(--gold)

$red: var(--red)
$red-75: var(--red-75)
$red-50: var(--red-50)
$red-25: var(--red-25)
$red-10: var(--red-10)

$green: var(--green)
$green-75: var(--green-75)
$green-50: var(--green-50)
$green-25: var(--green-25)
$green-10: var(--green-10)

// Base import
@import "src/base"