@font-face {
  font-family: 'Raleway Var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Raleway'),
       url('/fonts/Raleway-VF.woff2') format('woff2'),
       url('/fonts/Raleway-VF.woff') format('woff'),
       url('/fonts/Raleway-VF.ttf') format('ttf')
}

//@font-face {
//  font-family: 'Raleway Var';
//  font-style: italic;
//  font-weight: 100 900;
//  font-display: swap;
//  src: local('Raleway'),
//       url('/fonts/Raleway-Italic-VF.woff2') format('woff2'),
//       url('/fonts/Raleway-Italic-VF.woff') format('woff'),
//       url('/fonts/Raleway-Italic-VF.ttf') format('ttf')
//} 