@page "/club/{clubid}/folder/{id?}"
@model Ogma3.Pages.Club.Folders.FolderModel


@{
    ViewData["Title"] = $"{Model.ClubBar.Name} — {Model.Folder.Name}";
    ViewData["Tab"] = "Stories";
}

<partial name="_ClubBar" model="@Model.ClubBar"/>

<h1>@Model.Folder.Name</h1>

<span>@Model.Folder.Description</span>

<hr>

<div class="folder-list">
    @foreach (var folder in Model.Folder.ChildFolders)
    {
        <partial name="Shared/_FolderMinimal" model="folder"/>
    }
</div>

<hr>

<div>
    @if (Model.Stories.Count <= 0)
    {
        <h3>No stories found</h3>
    }
    else
    {
        foreach (var story in Model.Stories)
        {
            <partial name="Shared/_StoryCard" model="@story"/>
        }
        
         <partial name="_Pagination" model="Model.Pagination"/>
    }
</div>