@page "{name?}"
@model Ogma3.Pages.Shelves.Index

@{
    ViewData["Title"] = $"{Model.Owner.UserName}'s bookshelves";
}

<ul>
@foreach (var s in Model.UserShelves)
{
    <li>
        <a asp-page="/Shelves/Bookshelf" asp-route-id="@s.Id">@s.Name – @s.ShelfStories.Count</a>
    </li>
}
</ul>

