@{
	Layout = "/Pages/Shared/_UserLayout.cshtml";
}

<h1>Manage your account</h1>

<div id="account">
	<h4 class="account__header">Change your account settings</h4>

	<nav class="account__nav">
		<partial name="_ManageNav"></partial>
	</nav>
	<div class="account__body">
		@RenderBody()
	</div>

</div>

@section Scripts {
	@await RenderSectionAsync("Scripts", false)
}

@section CSS
{
	<link rel="stylesheet" type="text/css" href="~/css/account.css" asp-append-version="true"/>
}