@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Change password";
	ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage"/>

<form id="change-password-form" class="form" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="o-form-group">
		<label asp-for="Input.OldPassword"></label>
		<div class="input-group push">
			<input asp-for="Input.OldPassword" class="o-form-control active-border" autocomplete="current-password"/>
			<div class="input-group-append">
				<button class="action-btn show-password">
					<icon icon="visibility_off"></icon>
				</button>
			</div>
		</div>
		<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.NewPassword"></label>
		<div class="input-group push">
			<input asp-for="Input.NewPassword" class="o-form-control active-border" autocomplete="new-password"/>
			<div class="input-group-append">
				<button class="action-btn show-password">
					<icon icon="visibility_off"></icon>
				</button>
			</div>
		</div>
		<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.ConfirmPassword"></label>
		<div class="input-group push">
			<input asp-for="Input.ConfirmPassword" class="o-form-control active-border"/>
			<div class="input-group-append">
				<button class="action-btn show-password">
					<icon icon="visibility_off"></icon>
				</button>
			</div>
		</div>
		<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
	</div>

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Update password</button>
	</div>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
	<script src="~/js/dist/passwords.min.js" asp-append-version="true"></script>
}