@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>

<form id="profile-form" class="form" method="post" enctype="multipart/form-data">

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="o-form-group">
		<label asp-for="Input.Avatar"></label>
		<input asp-for="Input.Avatar" accept=".png,.jpg,.jpeg,.webp" class="o-form-control active-border">
		<span asp-validation-for="Input.Avatar" class="text-danger"></span>

		<label asp-for="Input.DeleteAvatar">Reset avatar<input asp-for="Input.DeleteAvatar"></label>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Title"></label>
		<input asp-for="Input.Title" class="o-form-control active-border"/>
		<span asp-validation-for="Input.Title" class="text-danger"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Bio"></label>
		<markdown-editor selector="textarea[data-md=true]"></markdown-editor>
		<textarea asp-for="Input.Bio" class="o-form-control active-border" rows="10" data-md="true"></textarea>
		<span asp-validation-for="Input.Bio" class="text-danger"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Links"></label>
		<textarea asp-for="Input.Links" class="o-form-control active-border" rows="5" nobar></textarea>
		<span asp-validation-for="Input.Links" class="text-danger"></span>
	</div>

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
	<script type="module" src="~/js/input-progressbars.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/markdown-editor.js" asp-append-version="true"></script>
}