@page
@using Ogma3.Api.V1
@using Ogma3.Data
@inject OgmaConfig Cfg
@model Ogma3.Areas.Identity.Pages.Account.Manage.InviteCodes

@{
    ViewData["Title"] = "Invite codes";
    ViewData["ActivePage"] = ManageNavPages.InviteCodes;
}

<button class="btn btn-primary btn-block" v-on:click="createCode">
    Issue code ({{codes.length}}/@Cfg.MaxInvitesPerUser)
</button>

<button v-if="codes.length <= 0" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>

<ul class="items-list">    
    <li v-for="n in codes">
        <div class="deco" v-bind:style="{background: n.userName ? 'green' : 'gray'}"></div>
        <div class="main">
            <h3 class="name"><span class="monospace">{{ n.code }}</span> : {{ date(n.issueDate) }}</h3>
            <span class="desc" v-if="n.userName">Redeemed by <strong>{{n.userName}}</strong> on <strong>{{date(n.usedDate)}}</strong></span>
        </div>
        <div class="actions">
            <button class="action" v-on:click="copyCode(n)">
                <icon icon="copy"></icon>
            </button>
        </div>
    </li>
</ul>

@Html.AntiForgeryToken()
<div id="route" style="background:indianred;padding:5rem" data-route="@Url.RouteUrl(nameof(InviteCodesController))" v-if="!route"></div>

@section Scripts
{
    <script type="module" src="~/js/dist/account/invite-codes.min.js" asp-append-version="true"></script>
}