@page
@inject OgmaConfig Config
@inject IAntiforgery Csrf
@using Microsoft.AspNetCore.Antiforgery
@using Ogma3.Infrastructure.OgmaConfig
@model InviteCodes

@{
	ViewData["Title"] = "Invite codes";
	ViewData["ActivePage"] = ManageNavPages.InviteCodes;
}

<div id="invite-codes-app" data-csrf="@Csrf.GetAndStoreTokens(HttpContext).RequestToken" data-max="@Config.MaxInvitesPerUser">

</div>


@section Scripts
{
	<script type="module" src="~/js/account/invite-codes.js" asp-append-version="true"></script>
}