@use "../vars" as v;
@use "../mixins/active-border" as ab;
@use "../mixins/focus" as f;

#sub-nav {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1rem 0;
	margin-bottom: 2rem;
	border-bottom: 1px solid v.$foreground-50;

	> .nav-link {
		position: relative;

		display: flex;
		margin: 0 .5rem;
		padding: .5rem 1rem;

		flex-direction: column;

		align-items: center;
		background-color: v.$ele-1;
		@include ab.active-border;
		@include f.focus;

		&:hover {
			background-color: v.$accent-10;
		}

		&.active {
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 5px;
				left: 0;
				bottom: 100%;
				background-color: v.$accent;
				border-radius: 5px 5px 0 0;
			}
		}

		> .material-icons-outlined {
			font-size: 2rem;
			color: v.$foreground-75;
		}

		> .name {
			font-size: 1.2rem;
			color: v.$foreground-75;
		}
	}
}