@page
@using System.Security.Claims
@model Ogma3.Pages.MyStories.DetailsModel

@{
    ViewData["Title"] = Model.Story.Title;
}

<partial name="Shared/_StoryDetails" model="@Model.Story"/>

@if (User.Identity.IsAuthenticated && Model.Story.Author.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Story.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
}