@page "{id}/{slug?}"
@using System.Security.Claims
@model Ogma3.Pages.ChapterModel

@{
    ViewData["Title"] = Model.StoryChapter.Chapter.Title;
}

@if (User.Identity.IsAuthenticated && Model.StoryChapter.Story.Author.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <div>
        <a asp-page="./Chapters/Edit" asp-route-id="@Model.StoryChapter.Chapter.Id">
            <icon icon="edit"></icon>
        </a>
        <a asp-page="./Chapters/Delete" asp-route-id="@Model.StoryChapter.Chapter.Id">
            <icon icon="delete_forever"></icon>
        </a>
    </div>
}

<partial name="Shared/_ChapterDetails" model="@Model.StoryChapter.Chapter.CommentsThread"></partial>

