@page
@model Faq

@{
	ViewData["Title"] = "FAQ";
	ViewData["Description"] = "Frequently asked questions";
}

<h1>FAQ</h1>

<div id="faqs">
	@foreach (var faq in Model.Faqs)
	{
		<details class="details">
			<summary>
				<h4>@faq.Question</h4>
			</summary>
			@Html.Raw(faq.AnswerRendered)
		</details>
	}
</div>

<icon icon="lucide:accessibility" svg="true"></icon>
<icon icon="lucide:ban" svg="true"></icon>
<icon icon="lucide:fish-symbol" svg="true"></icon>