@page
@using Ogma3.Services
@using Ogma3.Api.V1
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="quote" class="quote active-border">
    <button class="refresh" v-on:click="fetch">
        <icon icon="refresh" :class="loading ? 'spin' : ''"></icon>
    </button>
    <em class="body">{{quote}}</em>
    <span class="author">~ {{author}}</span>
    <div v-if="!route" id="quote-route" data-route="@Url.RouteUrl(nameof(QuotesController))/random"></div>
</div>

<h2>Recent stories</h2>

<div>
    @foreach (var story in Model.RecentStories)
    {
        <partial name="Shared/_StoryCard" model="@story"/>
    }
</div>

@Html.Resource(@<script src="~/js/dist/quote.min.js" asp-append-version="true"></script>)