@page
@using Ogma3.Services
@using Ogma3.Api.V1
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="quote" class="quote active-border">
    <em class="body">{{quote}}</em>
    <span class="author">~ {{author}}</span>
</div>

<h2>Recent stories</h2>

<div>
    @foreach (var story in Model.RecentStories)
    {
        <partial name="Shared/_StoryCard" model="@story"/>
    }
</div>

@Html.Resource(@<script>
    const quote_vue = new Vue({
        el: '#quote',
        data: {
            quote: null,
            author: null,
        },
        mounted() {
            axios.get('@Url.RouteUrl(nameof(QuotesController))/random')
                .then(res => {
                     this.quote = res.data.body;
                     this.author = res.data.author;
                })
                .catch(console.error)
        }
    })
</script>)