@page
@using System.Security.AccessControl
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<markdown preset="All">
    # Hello World!
    
    **Testing More**
    
    *And More*
    
    ~~strike~~
    
    ^sup^
    
    ~sub~
    
    ++ins++
    
    ==marked==
    
    a. extra
    b. bullet
    c. list
    
    https://youtube.com
    
    [link](https://localhost:5001/)
    
    ![img](https://cdn.ogma.buzz/file/Ogma-net/avatars/268e8d5d-a76e-4abe-9d92-e655bb228d1c.png "title")

    ____
    
    > [!IMPORTANT]
    > Essential information required for user success.
    
    ____
    

</markdown>

<div>
    @Html.Raw(Model.SampleText)
</div>
