@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<markdown preset="Basic">
    # Hello World!
    
    **Testing More**
    
    *And More*
    
    [link](https://localhost:5001/)    
</markdown>

<div>
    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/_StoryCard" model="@story"/>
    }
</div>

<div>
    @Html.Raw(Model.SampleText)
</div>
