@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	ViewData["ActivePage"] = "Home";
}

<partial name="_SubNavigation"/>

<quote-box></quote-box>

<div id="tabs" class="tab-view mt-3" tab-view>
	<div class="tabs" role="tablist" aria-label="Story categories">
		<button class="tab active"
		        id="tab-1"
		        role="tab"
		        aria-controls="panel-1">
			Top
		</button>
		<button class="tab"
		        id="tab-2"
		        role="tab"
		        aria-controls="panel-2">
			New
		</button>
		<button class="tab"
		        id="tab-3"
		        role="tab"
		        aria-controls="panel-3">
			Updated
		</button>
	</div>

	<div class="tab-body active"
	     id="panel-1"
	     role="tabpanel"
	     tabindex="0"
	     aria-labelledby="tab-1">
		<h2 class="title">Top stories of all time</h2>

		<div>
			@foreach (var story in Model.TopStories)
			{
				<partial name="Shared/Cards/_StoryCard" model="@story"/>
			}
		</div>
	</div>

	<div class="tab-body"
	     id="panel-2"
	     role="tabpanel"
	     tabindex="0"
	     aria-labelledby="tab-2">
		<h2 class="title">Newest stories</h2>

		<div>
			@foreach (var story in Model.RecentStories)
			{
				<partial name="Shared/Cards/_StoryCard" model="@story"/>
			}
		</div>
	</div>

	<div class="tab-body"
	     id="panel-3"
	     role="tabpanel"
	     tabindex="0"
	     aria-labelledby="tab-3">
		<h2 class="title">Freshly updated</h2>

		<div>
			@foreach (var story in Model.LastUpdatedStories)
			{
				<partial name="Shared/Cards/_StoryCard" model="@story"/>
			}
		</div>
	</div>

</div>

@section Scripts {
	<script type="module" src="~/js/comp/quote-box.js" asp-append-version="true"></script>
	<script type="module" src="~/js/tabs.js" asp-append-version="true"></script>
}