@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Recent stories</h2>

<div>
    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/_StoryCard" model="@story"/>
    }
</div>
