@page
@using Ogma3.Api.V1
@model Ogma3.Pages.Notifications

@{
    ViewData["Title"] = "Notifications";
}
<h1>@ViewData["Title"]</h1>

<div id="notifications">
    
    <div v-for="notif in notifications" class="notification active-border">
        <a class="link" :href="notif.url">{{notif.body}}</a>
        <time class="time" :datetime="notif.dateTime">
            {{parseTime(notif.dateTime)}}
        </time>

        <div class="actions">
            <button class="action-btn large" title="Delete" v-on:click="deleteNotif(notif.id)">
                <i class="material-icons-outlined">delete_forever</i>
            </button>
        </div>
    </div>
    
</div>

@Html.AntiForgeryToken()
<div v-if="!route" data-route="@Url.RouteUrl(nameof(NotificationsController))"></div>

@section Scripts
{
    <script src="~/js/dist/notifications.min.js" asp-append-version="true"></script>
}
