@page
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Csrf
@model Notifications

@{
	ViewData["Title"] = "Notifications";
}
<h1>@ViewData["Title"]</h1>

<div id="notifications" data-csrf="@Csrf.GetAndStoreTokens(HttpContext).RequestToken">

</div>

@section Scripts
{
	<script type="module" src="~/js/notifications.js" asp-append-version="true"></script>
}