@page
@model Settings

@{
	ViewData["Title"] = "Local settings";
}

<h1>Local settings</h1>

<span>They're specific to this device, not your whole account</span>

<hr>

<dl id="local-settings">
	<dt>Collapse deleted comments</dt>
	<dd>
		<button v-on:click="updateCollapse" :class="collapseDeleted ? 'on' : null">{{ collapseDeleted ? 'on' : 'off' }}</button>
	</dd>

	<dt>Theme</dt>
	<dd>
		<button v-on:click="swapTheme">{{ theme }}</button>
	</dd>
</dl>

@section Scripts
{
	<script defer src="~/js/dist/local-settings.js" asp-append-version="true"></script>
}