@page
@model Settings

@{
	ViewData["Title"] = "Local settings";
}

<h1>Local settings</h1>

<span>They're specific to this device, not your whole account</span>

<hr>

<dl id="local-settings">

</dl>

@section Scripts
{
	<script type="module" src="~/js/local-settings.js" asp-append-version="true"></script>
}