@page "{id}/{slug?}"
@using System.Security.Claims
@model Ogma3.Pages.StoryModel

@{
    ViewData["Title"] = Model.Story.Title;
}

<partial name="Shared/_StoryDetails" model="@Model.Story"/>

@if (User.Identity.IsAuthenticated && Model.Story.Author.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))
 {
     <div>
         <a asp-page="./Stories/Edit" asp-route-id="@Model.Story.Id">
             <icon icon="edit"></icon>
         </a>
         <a asp-page="./Chapters/Delete" asp-route-id="@Model.Story.Id">
             <icon icon="delete_forever"></icon>
         </a>
     </div>
 }