@page "{id}/{slug?}"
@using Ogma3.Data.Tags
@model TagModel
@{
	if (Model.Tag.Namespace is null)
	{
		ViewData["Title"] = Model.Tag.Name;
	}
	else
	{
		var nsn = Model.Tag.Namespace?.ToStringFast();
		ViewData["Title"] = nsn is null ? Model.Tag.Name : $"{nsn}: {Model.Tag.Name}";
	}
}


<h2>@ViewData["Title"]</h2>

@if (Model.Stories.Count <= 0)
{
	<h1>No stories found</h1>
}
else
{
	@foreach (var story in Model.Stories)
	{
		<partial name="Shared/Cards/_StoryCard" model="story"/>
	}

	<partial name="_Pagination" model="Model.Pagination"/>
}