@page "{id}/{slug?}"
@model TagModel
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.Tag.Namespace) 
        ? Model.Tag.Name
        : $"{Model.Tag.Namespace}:{Model.Tag.Name}";
}


<h2>@ViewData["Title"]</h2>

<div>
    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/_StoryCard" model="@story"/>
    }
</div>
