@page "{id}/{slug?}"
@model TagModel
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.Tag.NamespaceName) 
        ? Model.Tag.Name
        : $"{Model.Tag.NamespaceName}:{Model.Tag.Name}";
}


<h2>@ViewData["Title"]</h2>

@if (Model.Stories.Count <= 0)
{
    <h1>No stories found</h1>
}
else
{
    @foreach (var story in Model.Stories)
    {
        <partial name="Shared/Cards/_StoryCard" model="story"/>
    }
    
    <partial name="_Pagination" model="Model.Pagination"/>
}
