@page "{id}/{slug?}"
@model Ogma3.Pages.Club.IndexModel

@{
    ViewData["Title"] = Model.ClubBar.Name;
    ViewData["Tab"] = "Home";
}

<partial name="_ClubBar" model="@Model.ClubBar"/>

<div class="thread-list">
    @if (Model.ThreadCards.Any())
    {
        foreach (var t in Model.ThreadCards)
        {
            <partial name="_ThreadCard" model="t"/>
        }
    }
    else
    {
        <div class="thread-card">No threads yet!</div>
    }

</div>

<hr>

<markdown class="desc" preset="All">
    @Model.ClubBar.Description
</markdown>