@page
@model CreateModel

@{
	ViewData["Title"] = "Create a new club";
}

<h1>@ViewData["Title"]</h1>

<form class="form" id="club" method="post" enctype="multipart/form-data">

	<div asp-validation-summary="All">
		<span>Please correct the following errors</span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Name"></label>
		<span class="desc">Try something catchy</span>
		<input asp-for="Input.Name" class="o-form-control active-border">
		<span asp-validation-for="Input.Name"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Hook"></label>
		<span class="desc">The short description that will appear on the clubs list</span>
		<input asp-for="Input.Hook" class="o-form-control active-border">
		<span asp-validation-for="Input.Hook"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Description"></label>
		<span class="desc">This will show on the club's home page</span>
		<markdown-editor></markdown-editor>
		<textarea asp-for="Input.Description" class="o-form-control active-border" rows="5" data-md="true"></textarea>
		<span asp-validation-for="Input.Description"></span>
	</div>

	<div class="o-form-group">
		<label asp-for="Input.Icon"></label>
		<span class="desc">Something that will set your club apart</span>
		<input asp-for="Input.Icon" class="o-form-control active-border">
		<span asp-validation-for="Input.Icon"></span>
	</div>

	<div class="o-form-group">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>

</form>

<partial name="Shared/_ValidationScriptsPartial"/>

@section Scripts {
	<script type="module" src="~/js/input-progressbars.js" asp-append-version="true"></script>
	<script type="module" src="~/js/comp/markdown-editor.js" asp-append-version="true"></script>
}