@page "{id}"
@model Ogma3.Pages.Clubs.EditModel

@{
    ViewData["Title"] = $"Edit {Model.Input.Name}";
}

<h1>@ViewData["Title"]</h1>

<div class="button-group">
    <a title="Cancel" class="action-btn large" asp-page="/Club/Index" asp-route-id="@Model.Input.Id" asp-route-slug="@Model.Input.Slug">
         <icon class="icon" icon="arrow_back"></icon>
         <span class="name">Cancel</span>
     </a>
     <a title="Delete" class="action-btn large red" asp-page="./Delete" asp-route-id="@Model.Input.Id">
         <icon class="icon" icon="delete_forever"></icon>
         <span class="name">Delete</span>
     </a>
</div>

<form class="form" id="club" method="post" enctype="multipart/form-data" v-on:submit="onSubmit">

    <div asp-validation-summary="All">
        <span>Please correct the following errors</span>
    </div>

    <div class="o-form-group">
        <label asp-for="Input.Name"></label>
        <span class="desc">Try something catchy</span>
        <input asp-for="Input.Name" class="o-form-control active-border">
        <span asp-validation-for="Input.Name"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Hook"></label>
        <span class="desc">The short description that will appear on the clubs list</span>
        <input asp-for="Input.Hook" class="o-form-control active-border">
        <span asp-validation-for="Input.Hook"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Description"></label>
        <span class="desc">This will show on the club's home page</span>
        <textarea asp-for="Input.Description" class="o-form-control active-border" rows="5" data-md="true"></textarea>
        <span asp-validation-for="Input.Description"></span>
    </div>
    
    <div class="o-form-group">
        <label asp-for="Input.Icon"></label>
        <span class="desc">Something that will set your club apart</span>
        <input asp-for="Input.Icon" class="o-form-control active-border">
        <span asp-validation-for="Input.Icon"></span>
    </div>
    
    <input type="hidden" asp-for="Input.Id">

    <div class="o-form-group">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>

<partial name="Shared/_ValidationScriptsPartial"/>

@section Scripts {
    <script src="~/js/dist/input-progressbars.min.js" asp-append-version="true"></script>
    <script src="~/js/dist/editors/markdown-toolbar.min.js" asp-append-version="true" async></script>
}