@page
@model Ogma3.Pages.Clubs.IndexModel

@{
    ViewData["Title"] = "Clubs";
    ViewData["ActivePage"] = "Clubs";
}

<partial name="_SubNavigation" />

<h1>@ViewData["Title"]</h1>

<a class="btn btn-block btn-outline-primary" asp-page="Create"> 
    <icon icon="add"></icon>
    Create new club
</a>

<br>

<div class="two-columns o-grid">
    @foreach (var club in Model.Clubs) {
        <partial name="_ClubCard" model="@club"/>
    }
</div>

