@page
@model Ogma3.Pages.Clubs.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = "Clubs";
}

<partial name="_SubNavigation" />

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@foreach (var club in Model.Clubs) {
    <partial name="_ClubCard" model="@club"/>
}

