@use "../mixins/active-border" as ab;

.counters {
	--pad: 2rem;

	display: grid;
	grid-template-columns: repeat(auto-fill, 12rem);
	gap: 1rem;

	.counter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: var(--pad);
		@include ab.active-border;

		&:hover {
			.chart {
				opacity: .75;
			}
		}

		* {
			cursor: default;
			text-shadow: 0 0 10px black;
			transition: opacity .2s ease-in-out;
		}

		.name {
			font-size: 1.5rem;
			line-height: 1.5rem;
			color: var(--foreground-75);
			font-weight: 175;
		}

		.value {
			font-size: 3rem;
			line-height: 2rem;
			font-weight: 825;
			margin-top: .5rem;
		}

		.chart {
			width: calc(100% + var(--pad) * 2);
			height: calc(100% + var(--pad) * 2);
			margin: calc(-1 * var(--pad));
			z-index: -1;
			opacity: .5;
		}
	}
}