@page "/forgot"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" class="form">
            
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="o-form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="o-form-control active-border"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="o-form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
