@page "/confirmation"
@inject IOptions<RecaptchaSettings> _recaptchaSettings
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Templates
@using Microsoft.Extensions.Options
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Please check your email to confirm your account.
</p>

<form method="post">
    <input type="hidden" value="@Model.Email">
    @(Html.Recaptcha<RecaptchaV2Checkbox>(_recaptchaSettings?.Value))
    <button class="btn btn-primary">Resend email</button>
</form>

