@page "/club/{id}/forums/create"
@model Ogma3.Pages.Club.Forums.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClubThread</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubThread.Title" class="control-label"></label>
                <input asp-for="ClubThread.Title" class="form-control" />
                <span asp-validation-for="ClubThread.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubThread.Body" class="control-label"></label>
                <input asp-for="ClubThread.Body" class="form-control" />
                <span asp-validation-for="ClubThread.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubThread.ClubId" class="control-label"></label>
                <input asp-for="ClubThread.ClubId" class ="form-control" type="number"/>
                <span asp-validation-for="ClubThread.ClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
