@page "/club/{id:long}/{slug}/forums"
@model IndexModel

@{
	ViewData["Title"] = $"{Model.ClubBar.Name} — Forums";
	ViewData["Tab"] = "Forums";
}

<partial name="Shared/Bars/_ClubBar" model="@Model.ClubBar"/>

@if (Model.ClubBar.IsMember)
{
	<a class="btn btn-block btn-outline-primary" asp-page="Create" asp-route-id="@Model.ClubBar.Id" asp-route-slug="@Model.ClubBar.Slug">
		<icon icon="add"></icon>
		Create new thread
	</a>
}

<br>

<div>
	@if (Model.ThreadCards.Count <= 0)
	{
		<h1>No threads found</h1>
	}
	else
	{
		@foreach (var thread in Model.ThreadCards)
		{
			<partial name="Shared/Cards/_ThreadCard" model="thread"/>
		}

		<partial name="_Pagination" model="Model.Pagination"/>
	}
</div>