.block-btn {
	color: var(--foreground);
	text-align: start;
	white-space: nowrap;
	background-color: transparent;
	border: none;
	padding: 0;
	display: inline;
	font: inherit;
	cursor: pointer;
	width: 100%;

	o-icon {
		margin-right: 4px;
	}

	&:hover {
		color: var(--accent-75);
	}
}
