:host {
	display: flex;
	place-items: center;
}

.read-status {
	padding: 0;
	width: 1.2rem;
	height: 1.2rem;
	background-color: transparent;
	color: var(--foreground-25);
	border: none;
	cursor: pointer;

	&:focus-visible {
		outline: 3px groove color-mix(in oklab, var(--accent), var(--background) 50%);
	}

	&.active {
		color: var(--foreground-75);
	}
}
