.quote {
	position: relative;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	background-color: var(--ele-1);

	border: 1px solid var(--foreground-25);

	--refresh-opacity: 0;

	&:hover {
		border-color: var(--foreground-50);
		--refresh-opacity: 0.5;
	}

	&:focus {
		border-color: var(--accent);
	}

	.refresh {
		position: absolute;

		display: flex;

		justify-content: center;

		align-items: center;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;

		border: none;
		height: 2rem;
		width: 2rem;

		background: transparent;
		color: var(--foreground);
		opacity: var(--refresh-opacity);

		cursor: pointer;

		&:hover {
			background: var(--accent-10);
		}

		&:focus {
			outline: 0;
		}

		svg {
			pointer-events: none;
		}
	}

	.body {
		&::before {
			content: "“";
		}

		&::after {
			content: "”";
		}
	}

	.author {
		align-self: flex-end;
	}
}
