.votes {
	padding: 0.5rem;

	&.active {
		svg {
			color: var(--gold);

			animation: spin 0.2s ease-in-out;
			pointer-events: none;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
