o-comments {
	display: block;
	width: min(100%, 800px);
	margin-top: 1rem;
}
.comment-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	&.loading {
		position: relative;
		overflow: hidden;
		cursor: default;

		&::after {
			content: "";
			position: absolute;
			inset: -50%;
			background: linear-gradient(
				to bottom,
				rgb(229 172 142 / 0%),
				rgb(255 255 255 / 50%) 50%,
				rgb(229 172 142 / 0%)
			);
			transform: rotateZ(60deg) translate(0, 4em);
			animation: sheen 2s forwards infinite;
		}
	}
}

@keyframes sheen {
	100% {
		transform: rotateZ(60deg) translate(0, -4em);
	}
}
